{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title_page %}
    Carga Horaria
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Suite AAGE</a></li>
    <li class="breadcrumb-item active">Carga Horaria</li>
{% endblock %}

{% block content %}
<h4 class="page-title">Carga Horaria</h4>
    <br>
    <div class="row">
        <div class="col-md-4 text-center"></div>
        <div class="col-md-4 text-center">
            <a class="btn btn-rounded btn-lg text-white" href="{% url 'carga-horaria:periodos' %}" style="background-color: #3688FC">
                <h2><i class="mdi mdi-pencil"></i> {{ total_unidades_directivas }} </h2>
            </a>
            <h5 class="font-black-normal text-center">Confección de Carga Horaria</h5>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4 text-center">
            <a class="btn btn-rounded btn-lg text-white" href="{% url 'carga-horaria:colegios' %}" style="background-color: #FF0000">
                <h2><i class=" uil-bus-school"></i> {{ total_unidades_directivas }} </h2>
            </a>
            <h5 class="font-black-normal text-center">Colegios</h5>
        </div>

        <div class="col-md-4 text-center">
            <a class="btn btn-rounded btn-lg text-white" href="{% if request.user.is_superuser %}{% url 'carga-horaria:planes' %}{% else %}#{% endif %}" style="background-color: #4B0082">
                <h2><i class="uil-book-open"></i> {{ total_unidades_directivas }} </h2>
            </a>
            <h5 class="font-black-normal text-center">Planes de Estudio</h5>
        </div>

        <div class="col-md-4 text-center">
            <a class="btn btn-rounded btn-lg text-white" href="{% if request.user.is_superuser %}{% url 'carga-horaria:asignaturasbase' %}{% else %}#{% endif %}" style="background-color: #800080">
                <h2><i class="uil-presentation-edit"></i> {{ total_unidades_directivas }} </h2>
            </a>
            <h5 class="font-black-normal text-center">Asignatura Base</h5>
        </div>
        <!--<div class="col">
            <div class="card text-white card-inverse bgm-{% if request.user.is_superuser %}lightblue{% else %}gray{% endif %} text-center">
                <div class="card-header">
                    <h2><i class="fa fa-institution"></i> {{ total_unidades_directivas }} </h2>
                    <h6><a href="{% if request.user.is_superuser %}{% url 'carga-horaria:asignaturasbase' %}{% else %}#{% endif %}" style="color: #fff;">Asignatura Base</a></h6>
                </div>
            </div>
        </div>-->
    </div>
    <br>
    <div class="row" style="margin-top: 80px;">
        <div class="col-md-4 text-center">
            <a class="btn btn-rounded btn-lg text-white" href="{% url 'carga-horaria:profesores' %}" style="background-color: #008080">
                <h2><i class="uil-user"></i> {{ total_unidades_directivas }} </h2>
            </a>
            <h5 class="font-black-normal text-center">Profesores</h5>
        </div>

        <div class="col-md-4 text-center">
            <a class="btn btn-rounded btn-lg text-white" href="{% url 'carga-horaria:asistentes' %}" style="background-color: #90EE90">
                <h2><i class="uil-users-alt"></i> {{ total_unidades_directivas }} </h2>
            </a>
            <h5 class="font-black-normal text-center">Asistentes</h5>
        </div>

        <div class="col-md-4 text-center">
            <a class="btn btn-rounded btn-lg text-white" href="https://app.powerbi.com/" style="background-color: #3688FC">
                <h2><i class="uil-notes"></i> {{ total_unidades_directivas }} </h2>
            </a>
            <h5 class="font-black-normal text-center">Reportes</h5>
        </div>
    </div>
    <br>

{% endblock content %}
