{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title_page %}
    Curso - Detalle
{% endblock %}

{% block content %}

<div class="card">
    <div class="card-header">
        <h4 class="card-title"><strong> {{ object.periodo.plan.nivel }} - {{ object.letra }}
          {% block buttons %}
              <div class="btn-group float-right">
                  <a href="{% url 'carga-horaria:cursos' %}" type="button" class="btn btn-outline-dark">
                      <i class="uil-arrow-left"></i>
                  </a>
                  <a href="{% url 'carga-horaria:curso__editar' object.pk %}" type="button" class="btn btn-outline-primary">
                      <i class="uil-edit"></i>
                  </a>
                  <a class="btn btn-outline-danger" href="#" data-toggle="modal" data-target="#eliminar_curso_{{object.pk}}">
                      <i class="uil-trash"></i>
                  </a>
              </div>
          {% endblock %}
        </h4>
        <h6 class="card-subtitle mb-2 text-muted">Detalle del curso</h6>

    </div>
    <div class="card-body">
        <div class="row">
        <div class="col-md-6">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th colspan="2" class="table-info">
                <span>
                    <i class="uil-info-circle"></i>
                     Descripción
                </span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th> Nivel </th>
                    <td>  {{ object.periodo.plan.get_nivel_display }}  </td>
                </tr>
                <tr>
                    <th> Letra </th>
                    <td> {{ object.letra }}  </td>
                </tr>
                <tr>
                    <th> Periodo </th>
                    <td> {{ object.periodo.nombre }}  </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="eliminar_curso_{{object.pk}}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><strong style="color:red;">¡Alerta!</strong> Está a punto de eliminar un Curso</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Está seguro que desea eliminar el curso "{{ object.periodo.plan.nivel }} - {{ object.letra }}"?.</p>
                <p class="text-muted">Recuerde que eliminará todos los registros asociados a este curso.</p>
            </div>
            <div class="modal-footer">
                <a role="button" class="btn btn-outline-danger" href="{% url 'carga-horaria:curso__eliminar' object.pk %}">Eliminar</a>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
