{% load staticfiles compress %}

{% compress js %}

<script src="{% static 'base/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'base/js/jquery-ui.js' %}"></script>
<script src="{% static 'base/js/popper.min.js' %}"></script>
<script src="{% static 'base/js/bootstrap.js' %}"></script>
<script src="{% static 'base/js/chosen.jquery.min.js' %}"></script>
<script src="{% static 'base/js/jquery.formset.js' %}"></script>
<script src="{% static 'base/js/bootstrap-growl.js' %}"></script>
<script src="{% static 'base/js/ciclos.js' %}"></script>
<script src="{% static 'base/js/moment-with-locales.min.js' %}"></script>
<script src="{% static 'base/pickadate/compressed/picker.js' %}"></script>
<script src="{% static 'base/pickadate/compressed/picker.date.js' %}"></script>
<script src="{% static 'base/pickadate/compressed/picker.time.js' %}"></script>
<script src="{% static 'base/pickadate/compressed/translations/es_ES.js' %}"></script>
<script src="{% static 'base/js/Chart.bundle.min.js' %}"></script>
<script src="{% static 'base/js/Chart.PieceLabel.min.js' %}"></script>
<script src="{% static 'base/js/autoNumeric.min.js' %}"></script>
<script src="{% static 'base/js/snap.svg-min.js' %}"></script>
<script src="{% static 'base/js/frappe-gantt.js' %}"></script>
<script src="{% static 'base/js/saveSvgAsPng.js' %}"></script>
<script src="{% static 'base/js/list.min.js' %}"></script>

{% endcompress %}
