{% load staticfiles compress %}

{% compress js %}

    <!-- bootstrap 
    {% comment %}
    <script src="{% static 'base/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'base/js/jquery-ui.js' %}"></script>
    <script src="{% static 'base/js/popper.min.js' %}"></script>
    <script src="{% static 'base/js/bootstrap.js' %}"></script>
    <script src="{% static 'base/js/chosen.jquery.min.js' %}"></script>
    <script src="{% static 'base/js/jquery.formset.js' %}"></script>
    <script src="{% static 'base/js/bootstrap-growl.js' %}"></script>
    <script src="{% static 'base/js/ciclos.js' %}"></script>
    <script src="{% static 'base/js/moment-with-locales.min.js' %}"></script>
    <script src="{% static 'base/pickadate/compressed/picker.js' %}"></script>
    <script src="{% static 'base/pickadate/compressed/picker.date.js' %}"></script>
    <script src="{% static 'base/pickadate/compressed/picker.time.js' %}"></script>
    <script src="{% static 'base/pickadate/compressed/translations/es_ES.js' %}"></script>
    <script src="{% static 'base/js/Chart.bundle.min.js' %}"></script>
    <script src="{% static 'base/js/Chart.PieceLabel.min.js' %}"></script>
    <script src="{% static 'base/js/autoNumeric.min.js' %}"></script>
    <script src="{% static 'base/js/snap.svg-min.js' %}"></script>
    <script src="{% static 'base/js/frappe-gantt.js' %}"></script>
    <script src="{% static 'base/js/saveSvgAsPng.js' %}"></script>
    <script src="{% static 'base/js/list.min.js' %}"></script>
    {% endcomment %}
    -->

    <!-- HYPER TEMPLATE -->
    <!-- bundle -->
    <script src="{% static 'assets/js/vendor.js' %}"></script>
    <script src="{% static 'assets/js/app.js' %}"></script>

    <!-- third party js -->
    <script src="{% static 'assets/js/vendor/apexcharts.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery-jvectormap-1.2.2.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery-jvectormap-world-mill-en.js' %}"></script>
    <script src="{% static 'base/js/chosen.jquery.min.js' %}"></script>
    {#    <script src="{% static 'easy_select2/vendor/select2/js/select2.js' %}"></script>#}
    <!-- third party js ends -->

    <!-- demo app -->
    <script src="{% static 'assets/js/pages/demo.dashboard.js' %}"></script>
    <!-- end demo js-->

    <!-- plugin js -->
    <script src="{% static 'assets/js/vendor/summernote-bs4.min.js' %}"></script>
    <!-- Summernote demo -->
    <script src="{% static 'assets/js/pages/demo.summernote.js' %}"></script>

    <!-- Datatables js -->
    <script src="{% static 'assets/js/vendor/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/dataTables.bootstrap4.js' %}"></script>
    <script src="{% static 'assets/js/vendor/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/responsive.bootstrap4.min.js' %}"></script>

    <!-- Datatable Init js -->
    <script src="{% static 'assets/js/pages/demo.datatable-init.js' %}"></script>

{% endcompress %}
