{% load staticfiles %}
<nav class="navbar navbar-light navbar-expand-lg topnav-menu fixed-top" style="background-color: #ffffff">
    <a class="navbar-brand" href="#">
        <img src="{% static 'base/img/logotipo2.png' %}" height="45" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/carga/">
                    <i class="uil-home"></i> Inicio <span class="sr-only">(current)</span>
                </a>
            </li>
            {% if request.user.usuariofuncion.es_departamental %}
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="uil-building"></i> Mi Fundación</a>
                </li>
            {% elif request.user.usuariofuncion.es_supervisor %}
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="uil-building"></i> Mis Colegios</a>
                </li>
            {% elif request.user.usuariofuncion.es_dirplac_or_admin %}
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="uil-dashboard"></i> Dashboard</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="uil-building"></i> Gestión </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/carga/">
                  <i class="uil-building"></i> Carga Horaria</a>
	    </li>
            <li class="nav-item">
                <a class="nav-link" href="/rrhh/">
                  <i class="uil-building"></i> Recursos Humanos</a>
	    </li>
            {% if request.user.usuariofuncion.es_supervisor or request.user.usuariofuncion.es_dirplac_or_admin %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#"
                       id="dropdownAdministracion" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="dripicons-gear"></i> Administración</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownAdministracion">
                        {% if request.user.usuariofuncion.es_dirplac_or_admin %}
                            <h6 class="dropdown-header">Administración General</h6>
                            <a class="dropdown-item" href="#">
                                <i class="uil-user"></i> Administración de Usuarios</a>
                            <a class="dropdown-item" href="#">
                                <i class="uil-users"></i> Perfiles de Usuarios</a>
                            <div class="dropdown-divider"></div>
                        {% endif %}
                        <h6 class="dropdown-header">Insumos</h6>
                        <a class="dropdown-item" href="#">
                            <i class="uil-clipboard-alt"></i> Tipos de insumos</a>
                        <a class="dropdown-item" href="#">
                            <i class="uil-list-ul"></i> Insumos</a>
                        <a class="dropdown-item" href="#">
                            <i class="mdi-hand-pointing-right"></i> Indicadores</a>
                        <a class="dropdown-item" href="#">
                            <i class="mdi-puzzle-piece"></i> Estrategias</a>
                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">Departamentos</h6>
                        <a class="dropdown-item" href="#">
                            <i class="uil-building"></i> Fundaciones</a>
                        <a class="dropdown-item" href="#">
                            <i class="uil-graduation-hat"></i> Colegios</a>
                        <a class="dropdown-item" href="#">
                            <i class="uil-building"></i> Unidades</a>
                        <a class="dropdown-item" href="#">
                            <i class="uil-user-circle-o"></i> Responsables de Unidades</a>
                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">Ciclos de Calidad</h6>
                        <a class="dropdown-item" href="#">
                            <i class="uil-refresh"></i> Ciclos de Calidad</a>
                        <a class="dropdown-item" href="#">
                            <i class="uil-money-bill"></i> Cuentas</a>
                        <a class="dropdown-item" href="#">
                            <i class="mdi-calendar-check"></i> Periodos</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#"
                       id="dropdownAdministracion" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="uil-chart-bar"></i> Reportes</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownAdministracion">
                        <h6 class="dropdown-header">Ciclos de Calidad</h6>
                        <a class="dropdown-item" href="#">
                            <i class="uil-chart-line"></i> Avance en Ciclos de Calidad</a>
                        <a class="dropdown-item" href="#">
                            <i class="uil-money-bill"></i> Reporte por cuentas</a>
                        <a class="dropdown-item" href="#">
                            <i class="uil-table"></i> Planes de Trabajo de Unidades</a>
                        <a class="dropdown-item" href="#">
                            <i class="uil-building"></i> Avance por Unidades</a>
                        <a class="dropdown-item" href="#">
                            <i class="uil-table"></i> Diagrama de Datos</a>
                        <a class="dropdown-item" href="#">
                            <i class="uil-check-square"></i> Evidencia por Unidades</a>
                        <a class="dropdown-item" href="#">
                            <i class="uil-check"></i> Avance por Nivel de Logro</a>
                    </div>
                </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav pull-right mr-5">
            {% if request.session.colegio__nombre %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#"
                       id="dropdownUsuario" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="mdi-bank"></i> {{ request.session.colegio__nombre }}</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownUsuario">
                        <a class="dropdown-item" href="{% url 'carga-horaria:switch' %}">
                            <i class="uil-refresh"></i> Cambiar </a>
                        <a class="dropdown-item" href="{% url 'carga-horaria:clear' %}">
                            <i class="mdi-window-close"></i> Limpiar </a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'carga-horaria:switch' %}">
                        <i class="uil-check-square"></i> Elegir Colegio</a>
                </li>
            {% endif %}
                &nbsp;
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#"
                       id="dropdownUsuario" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="uil-calendar-alt"></i> Período {{ request.session.periodo|default:2020 }}</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownUsuario">
                        <a class="dropdown-item" href="{% url 'carga-horaria:switch-periodo' 2020 %}">
                            <i class="uil-refresh"></i> 2020 </a>
                        <a class="dropdown-item" href="{% url 'carga-horaria:switch-periodo' 2021 %}">
                            <i class="uil-refresh"></i> 2021 </a>
                        <a class="dropdown-item" href="{% url 'carga-horaria:switch-periodo' 2022 %}">
                            <i class="uil-refresh"></i> 2022 </a>
                    </div>
                </li>
        </ul>
        <ul class="navbar-nav pull-right mr-5">
            {% if request.user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#"
                       id="dropdownUsuario" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="uil-user"></i> {{ request.user.username }}</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownUsuario">
                        <a class="dropdown-item" href="#">
                            <i class="uil-user-secret"></i> Perfil </a>
                        <a class="dropdown-item" href="/admin/logout/?next=/">
                            <i class="uil-sign-out-alt"></i> Cerrar Sesión</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a href="#">
                        <i class="uil-sign-in-alt"></i> Iniciar Sesión</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
