Django==2.2
pytz==2021.1
sqlparse==0.4.1
django-appconf
django-compressor
django-crispy-forms
django-extensions
django-guardian
django-jsonview
django-localflavor
django-wkhtmltopdf
django-widget-tweaks
django-qr-code
django-simple-history
django-easy-select2
django-inline-static

qrcode
docutils
Pillow
psycopg2==2.8
python-crontab
raven
sentry-sdk
six
XlsxWriter
django-extra-views
django-import-export
django-nested-inline
django-parsley
django-report-builder
django-summernote
pandas
xlwt
