{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title_page %}
    Archivo - Detalle
{% endblock %}

{% block content %}

<div class="card">
    <div class="card-header">
      <h4 class="card-title"><strong> {{ object.descripcion }}</strong>
          {% block buttons %}
              <div class="btn-group pull-right">
                  <a href="{% url 'rrhh:archivos' %}" type="button" class="btn btn-sm btn-dark">
                      <i class="fa fa-arrow-left"></i>
                  </a>
                  <a href="{% url 'rrhh:archivo__editar' object.pk %}" type="button" class="btn btn-sm btn-primary">
                      <i class="fa fa-edit"></i>
                  </a>
                  <a class="btn btn-sm btn-danger" href="#" data-toggle="modal" data-target="#eliminar_archivo_{{object.pk}}">
                      <i class="fa fa-trash"></i>
                  </a>
              </div>
          {% endblock %}
        </h4>
        <h6 class="card-subtitle mb-2 text-muted">Detalle del archivo</h6>

    </div>
    <div class="card-body">

		<div class="row">
        <div class="col-md-6">
            <table class="table table-hover table-sm">
                <thead>
                <tr>
                    <th colspan="2" class="table-info">
                <span>
                    <i class="fa fa-info-circle"></i>
                     Descripción
                </span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th> Descripción </th>
                    <td>  {{ object.descripcion }}  </td>
                </tr>
                <tr>
                    <th> Archivo </th>
                    <td><a href="{{ object.archivo.url }}">  {{ object.archivo }}  </a></td>
                </tr>
                <tr>
                    <th> Funcionario </th>
                    <td>  {{ object.funcionario }}  </td>
                </tr>
                <!--
                <tr>
                    <td colspan="2">
                        <small class="text-muted">
                            Creado: {{ object.creado_en }}
                            <br>
                            Modificado: {{ object.modificado_en }}
                        </small>
                    </td>
                </tr>
                -->
                </tbody>
            </table>
        </div>

		  <div class="col-md-6">
		  </div>


	</div>

    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="eliminar_archivo_{{object.pk}}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><strong style="color:red;">¡Alerta!</strong> Está a punto de eliminar un Archivo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Está seguro que desea eliminar el archivo "{{ object.nombre }}"?.</p>
                <p class="text-muted">Recuerde que eliminará todos los registros asociados a este archivo.</p>
            </div>
            <div class="modal-footer">
                <a role="button" class="btn btn-danger" href="{% url 'rrhh:archivo__eliminar' object.pk %}">Eliminar</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
