{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login - AAGE</title>
    <!-- Vendor CSS -->

    <link href="{% static 'base/css/bootstrap.min.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'base/css/base.css' %}">

</head>
<body>
<div class="login-content">
    {% block content %}
    {% endblock content %}
</div>
<footer class="footer">
    <div class="container text-center">
        <span class="text-muted">
            Copyright &copy; 2021 Universidad Adventista de Chile
        </span>
    </div>
</footer>
</body>
</html>
