{% extends "registration/base2.html" %}
{% load staticfiles %}

{% block title %}
    <title>Iniciar Sesión | Suite AAGE</title>
{% endblock %}

{% block content-form-box %}
    <!-- title-->
    <h4 class="mt-0">Iniciar Sesión</h4>
    <p class="text-muted mb-4">Ingrese su usuario y contraseña para acceder a su cuenta.</p>

    <!-- form -->
    <form action="." method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="emailaddress">Usuario</label>
            <input class="form-control" type="text" id="emailaddress" name="username" required="" placeholder="Ingrese su usuario" value="{{ request.POST.username }}">
        </div>
        <div class="form-group">
            <a href="pages-recoverpw-2.html" class="text-muted float-right"><small>¿Olvidó su contraseña?</small></a>
            <label for="password">Contraseña</label>
            <input class="form-control" type="password" required="" id="password" name="password" placeholder="Ingrese su contraseña">
        </div>
        <div class="form-group mb-3">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="checkbox-signin">
                <label class="custom-control-label" for="checkbox-signin">Recuerdame</label>
            </div>
        </div>
        <div class="form-group mb-0 text-center">
            <button class="btn btn-primary btn-block" type="submit"><i class="mdi mdi-login"></i> Iniciar sesión </button>
        </div>
    </form>
    <!-- end form-->

    <!-- Footer-->
    <footer class="footer footer-alt">
        <p class="text-muted">¿No tiene una cuenta? <a href="pages-register-2.html" class="text-muted ml-1"><b>Registrarse</b></a></p>
    </footer>

{% endblock content-form-box %}
