body {
  background: url(../img/fondo.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login-content {
  padding-top: 80px;
}

.back-to-top {
  margin: 0;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 70px;
  height: 70px;
  z-index: 100;
  display: none;
  text-decoration: none;
  color: #ffffff;
  background: #ff9000 none;
}


.back-to-top i {
  font-size: 60px;
}
