{% extends 'base/base.html' %}
{% load staticfiles humanize %}

{% block title_page %}
    Permiso - Detalle
{% endblock %}

{% block content %}

<div class="card" style="margin-top: 80px;">
    <div class="card-header">
      <h4 class="card-title"><strong>Detalle de Permiso</strong>
          {% block buttons %}
              <div class="btn-group pull-right">
                  <a href="{% url 'rrhh:permisos' %}" type="button" class="btn btn-outline-dark">
                      <i class="uil-arrow-left"></i>
                  </a>
                  <a href="{% url 'rrhh:permiso__editar' object.pk %}" type="button" class="btn btn-sm btn-primary">
                      <i class="uil-edit"></i>
                  </a>
                  <a class="btn btn-sm btn-danger" href="#" data-toggle="modal" data-target="#eliminar_permiso_{{object.pk}}">
                      <i class="uil-trash"></i>
                  </a>
              </div>
          {% endblock %}
        </h4>
        <h6 class="card-subtitle mb-2 text-muted">{{ object }}</h6>

    </div>
    <div class="card-body">
        <table class="table table-hover table-sm">
            <tbody>
                <tr>
                    <th> Funcionario </th>
                    <td>  {{ object.contrato }}  </td>
                </tr>
                <tr>
                    <th> Motivo u observaciones</th>
                    <td>  {{ object.observaciones }}  </td>
                </tr>
                <tr>
                    <th> Periodo </th>
                    <td>  {{ object.periodo }}  </td>
                </tr>
                <tr>
                    <th> Total de días </th>
                    <td>  {{ object.total_dias }}  </td>
                </tr>
                <tr>
                    <th> Fecha de retorno </th>
                    <td>  {{ object.fecha_retorno|naturalday }}  </td>
                </tr>
                <tr>
                    <th> Total de días feriados en el rango de licencia</th>
                    <td>  {{ object.total_feriados }}  </td>
                </tr>
                <tr>
                    <th> Días hábiles </th>
                    <td>  {{ object.dias_habiles|yesno }}  </td>
                </tr>
                <tr>
                    <th> Con goce de sueldo </th>
                    <td>  {{ object.goce_sueldo|yesno }}  </td>
                </tr>
            </tbody>
        </table>
    </div>
 </div>

<div class="modal" tabindex="-1" role="dialog" id="eliminar_permiso_{{object.pk}}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title alert alert-warning bg-white text-warning" role="alert"><strong>¡Alerta!</strong> Está a punto de eliminar el permiso</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Está seguro que desea eliminar el permiso "{{ object }}"?.</p>
                <p class="text-muted">Recuerde que eliminará todos los registros asociados a el permiso.</p>
            </div>
            <div class="modal-footer">
                <a role="button" class="btn btn-outline-danger" href="{% url 'rrhh:permiso__eliminar' object.pk %}">Eliminar</a>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
