{% extends 'base/base.html' %}
{% load staticfiles %}
{% load bootstrap_pagination %}

{% block title_page %}
    Personas
{% endblock %}

{% block content %}
<div class="card" style="margin-top: 80px;">
    <div class="card-header">
        <h4 class="card-title">Personas
          <a class="btn btn-outline-primary float-right" href="{% url 'rrhh:persona__nuevo'%}" role="button">
	    <span>
	      Crear Persona
              <i class="uil-plus"></i>
	    </span>
            </a>
        </h4>
        <h6 class="card-subtitle mb-2 text-muted">Tabla para configuración de personas</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><i class="uil-user"></i> Nombre </th>
                    <th><i class="uil-clock"></i> RUT </th>
                    <th><i class="uil-graduation-hat"></i> Clasificación</th>
                    <th><i class="mdi mdi-cogs"></i> Acciones </th>
                </tr>
                </thead>
                <tbody>
                {% for p in object_list %}
                    <tr>
                        <td><a href="{% url 'rrhh:persona' p.pk %}"> {{ p.get_full_name }} </a></td>
                        <td> {{ p.rut }} </td>
                        <td> <h5> <span class="badge badge-pill
                            {% if p.clasificacion == 'Postulante' %} badge-warning
                            {% elif p.clasificacion == 'Personal' %} badge-success
                            {% else %} badge-info
                            {% endif %}
                            ">{{ p.clasificacion }} </span></h5>
                        </td>
                        <td>
                            <a class="btn btn-outline-primary" href="{% url 'rrhh:persona__editar' p.pk %}" data-toggle="tooltip" data-placement="top" title="Editar"><i class="uil-edit"></i></a>
                            <a class="btn btn-outline-danger" href="#" data-toggle="modal" data-target="#eliminar_persona_{{p.pk}}"><i class="uil-trash"></i></a>
                        </td>
                    </tr>
                    <div class="modal" tabindex="-1" role="dialog" id="eliminar_persona_{{p.pk}}">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title alert alert-warning bg-white text-warning" role="alert"><strong>¡Alerta!</strong> Está a punto de eliminar una Persona</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Está seguro que desea eliminar a la persona "{{ p.get_full_name }}"?.</p>
                                    <p class="text-muted">Recuerde que eliminará todos los registros asociados a esta persona.</p>
                                </div>
                                <div class="modal-footer">
                                    <a role="button" class="btn btn-outline-danger" href="{% url 'rrhh:persona__eliminar' p.pk %}">Eliminar</a>
                                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="card-footer">
        <div align="center">
            {% bootstrap_paginate page_obj range=5 %}
        </div>
    </div>
</div>

{% endblock content  %}
