{% extends 'base/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}


{% block content %}
<div class="card" style="margin-top: 80px;">
    <div class="card-header">
        <h4 class="card-title">Combinar Asignatura
        </h4>
        <h5>Tal vez quiera combinar con asignatura de otro curso en lugar de crear una nueva</h5>
    </div>
    <div class="card-body">
      <p>Elija con qué instancia <strong>combinar</strong>:</p>
            <table class="table">
              <thead>
                <tr>
                <th>Asignatura</th>
                <th>Cursos a los que pertenece</th>
                <th>Profesores asignados</th>
                <th>Acción</th>
                </tr>
              </thead>
              <tbody>
      {% for aa in candidatas %}
      <tr>
        <td><strong>{{ aa }}</strong>
        </td>
        <td>{% for periodo in aa.periodos.all %}{{ periodo }}{% endfor %}
        </td>
        <td>{% if aa.profesores %}{% for pp in aa.profesores %}{{ pp.nombre }} {% endfor %}{% else %}Ninguno{% endif %}</td>
        <td>
        <form action="{% url 'carga-horaria:asignatura_merge' object.pk aa.pk %}" class="form-horizontal" method="post">
          {% csrf_token %}
          <button type="submit" value="{{ aa.pk }}" class="btn btn-outline-success">Combinar</button>
        </form>
        </td>
      </tr>
              </tbody>
        {% endfor %}
            </table>
      <p>Si desea crear una <strong>nueva instancia</strong> en lugar de combinar con una existente:</p>
      <a class="btn btn-outline-danger" href="{% url 'carga-horaria:asignatura__nuevo' object.pk %}">Crear Nueva Asignatura</a>
                    <a href="{{ request.META.HTTP_REFERER }}"
                    role="button" class="btn btn-outline-primary">
                        Volver
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
