{% extends 'carga_horaria/asignatura/nuevo_asignatura.html' %}
{% load staticfiles %}


{% block action %}Editar{% endblock %}

{% block title_page %}
    Editar {{ object }}
{% endblock %}

{% block block_editar_eliminar %}
    <li class="breadcrumb-item">
        <a href="{{ object.get_absolute_url }}">
            {{ icono|safe }} {{ object }}
        </a>
    </li>
    <li class="breadcrumb-item active">
        <i class="fa fa-edit"></i> Editar ({{ object.pk }})
    </li>
{% endblock %}

{% block titulo_formulario %}
  <i class="fa fa-calendar-check-o"></i>  Editar Asignatura | {{ object }}
{% endblock %}
