{% extends 'base/base.html' %}
{% load staticfiles %}
{% load bootstrap_pagination %}

{% block title_page %}
    Asignaturas
{% endblock %}

{% block content %}
<div class="card" style="margin-top: 80px;">
    <div class="card-header">
        <h4 class="card-title">Listado de Asignaturas
        </h4>
        <h6 class="card-subtitle mb-2 text-muted">Tabla para configuración de asignaturas</h6>
    </div>
    <div class="card-body">
      <div class="row">
	<div class="col-md-10">

        <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><i class="uil-user"></i> Asignatura </th>
                <th style="text-align: center;"><i class="uil-graduation-hat"></i> Curso </th>
                <th style="text-align: center;"><i class="uil-cog"></i> Acciones </th>
            </tr>
            </thead>
            <tbody>
            {% for a in object_list %}
                <tr>
                    <td><a href="{% url 'carga-horaria:asignatura' a.pk %}"> {{ a.base }} </a></td>
                    <td><a href="?periodo={{ a.periodo.pk}}">{{ a.periodo }}</a></td>
                    <td style="text-align: center;">
                        <a class="btn btn-outline-primary" href="{% url 'carga-horaria:asignatura__editar' a.pk %}" data-toggle="tooltip" data-placement="top" title="Editar"><i class="uil-edit"></i></a>
                        <a class="btn btn-outline-danger" href="#" data-toggle="modal" data-target="#eliminar_asignatura_{{a.pk}}"><i class="uil-trash-alt"></i></a>
                    </td>
                </tr>
                <div class="modal" tabindex="-1" role="dialog" id="eliminar_asignatura_{{a.pk}}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"><strong style="color:red;">¡Alerta!</strong> Está a punto de eliminar una Asignatura</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Está seguro que desea eliminar la asignatura "{{ a.nombre }}"?.</p>
                                <p class="text-muted">Recuerde que eliminará todos los registros asociados a esta asignatura.</p>
                            </div>
                            <div class="modal-footer">
                                <a role="button" class="btn btn-outline-danger" href="{% url 'carga-horaria:asignatura__eliminar' a.pk a.periodo.pk %}">Eliminar</a>
                                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </tbody>
        </table>
	</div>
	</div>

	<div class="col-md-2">
	  <h5>Nivel</h5>
	  <ul class="nav nav-pills flex-column">
	    {% for tag, name in levels %}
	    <li class="nav-item"><a class="nav-link{% if nivel_actual == tag %} active{% endif %}" href="?nivel={{ tag }}">{{ name }}</a></li>
	    {% endfor %}
	  </ul>
	</div>
      </div>
    </div>

                    <div class="card-footer">
                    <div align="center">
                        {% bootstrap_paginate page_obj range=5 %}
                    </div>
                </div>


</div>

{% endblock content  %}
