{% extends 'base/base.html' %}
{% load staticfiles %}
{% load bootstrap_pagination %}

{% block title_page %}
    Planes
{% endblock %}

{% block title %}
    Planes
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Suite AAGE</a></li>
    <li class="breadcrumb-item"><a href="{% url 'carga-horaria:home' %}">Carga Horaria</a></li>
    <li class="breadcrumb-item active">Planes</li>
{% endblock %}


{% block content %}
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Listado de Planes
            <div class="btn-group float-right" role="group">
                <a class="btn btn-outline-primary" href="{% url 'carga-horaria:plan__nuevo'%}" role="button">Crear nuevo plan
                    <i class="uil-plus"></i>
                </a>
            </div>
            <div class="btn-group float-right" role="group">
	            <a class="btn btn-outline-success" href="{% url 'carga-horaria:plan__plantilla'%}" role="button">Crear desde plantilla
                    <i class="uil-plus"></i>
                </a>
            </div>
        </h4>
        <h6 class="card-subtitle mb-2 text-muted">Tabla para configuración de Planes</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><i class="uil-book-open"></i> Plan </th>
                <th><i class="uil-cog"></i> Acciones </th>
            </tr>
            </thead>
            <tbody>
            {% for p in object_list %}
                <tr>
                    <td><a href="{% url 'carga-horaria:plan' p.pk %}">{{ p }}</a></td>
                    <td>
                      <a class="btn btn-outline-success" href="{% url 'carga-horaria:plan__actualizar' p.pk %}" data-toggle="tooltip" data-placement="top" title="Actualizar"><i class="uil-refresh"></i></a>
                      <a class="btn btn-outline-primary" href="{% url 'carga-horaria:plan__editar' p.pk %}" data-toggle="tooltip" data-placement="top" title="Editar"><i class="uil-edit"></i></a>
                      <a class="btn btn-outline-danger" href="#" data-toggle="modal" data-target="#eliminar_plan_{{p.pk}}"><i class="uil-trash"></i></a>
                    </td>
                </tr>
                <div class="modal" tabindex="-1" role="dialog" id="eliminar_plan_{{p.pk}}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"><strong style="color:red;">¡Alerta!</strong> Está a punto de eliminar un Plan</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Está seguro que desea eliminar el Plan "{{p.nombre}}"?.</p>
                                <p class="text-muted">Recuerde que eliminará todos los registros asociados a este Plan.</p>
                            </div>
                            <div class="modal-footer">
                                <a role="button" class="btn btn-outline-danger" href="{% url 'carga-horaria:plan__eliminar' p.pk %}">Eliminar</a>
                                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>    
                </div>
            {% endfor %}
            </tbody>
        </table>
    </div>

    </div>

                    <div class="card-footer">
                    <div align="center">
                        {% bootstrap_paginate page_obj range=5 %}
                    </div>
                </div>


</div>

{% endblock content  %}
