{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title_page %}
    AAGE
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Pages</a></li>
                        <li class="breadcrumb-item active">Starter</li>
                    </ol>
                </div>
                <h4 class="page-title">Inicio Suite AAGE</h4>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-md-4 text-center">
                    <a href="/carga/" target="blank">
                        <img src="/static/base/img/Carga-Horaria-Personalizado.jpg" width="80" height="80">
                    </a>
                    <h5 class="font-black-normal text-center"><a href="/carga/" target="blank">Carga Horaria</h5>
                </div>
        
                <div class="col-md-4 text-center">
                    <a href="/rrhh/" target="blank">
                        <img src="/static/base/img/Gestión-del-Talento-Humano-Personalizado.jpg" width="80" height="80">
                    </a>
                    <h5 class="font-black-normal text-center"><a href="/rrhh/" target="blank">Recursos Humanos</h5>
                </div>
        
                <div class="col-md-4 text-center">
                    <a href="https://ac.unach.cl/" target="blank">
                        <img src="/static/base/img/Ciclos-de-Calidad-Personalizado.jpg" width="80" height="80">
                    </a>
                    <h5 class="font-black-normal text-center"><a href="https://ac.unach.cl/" target="blank">Ciclos de Calidad</h5>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-md-4 text-center">
                    <a href="https://sistemaencuestas.unach.cl/accounts/login/?next=/app/home/" target="blank">
                        <img src="/static/base/img/Evaluación-Docente-Personalizado.jpg" width="80" height="80">
                    </a>
                    <h5 class="font-black-normal text-center"><a href="https://sistemaencuestas.unach.cl/accounts/login/?next=/app/home/" target="blank">Evaluación Docente</h5>
                </div>
        
                <div class="col-md-4 text-center">
                    <a href="https://app.powerbi.com/?noSignUpCheck=1&pbi_source=weblandingsignin" target="blank">
                        <img src="/static/base/img/Gestión-Escolar-Personalizado.jpg" width="80" height="80">
                    </a>
                    <h5 class="font-black-normal text-center"><a href="https://app.powerbi.com/?noSignUpCheck=1&pbi_source=weblandingsignin" target="blank">Power Bi</h5>
                </div>
        
                <div class="col-md-4 text-center">
                    <a href="https://unach.cl" target="blank">
                        <img src="/static/base/img/logotipo4.jpeg" width="80" height="80">
                    </a>
                    <h5 class="font-black-normal text-center"><a href="https://unach.cl" target="blank">UnACh</h5>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-md-4 text-center">
                    <a href="https://aage.cl" target="blank">
                        <img src="/static/base/img/logotipo4.jpeg" width="80" height="80">
                    </a>
                    <h5 class="font-black-normal text-center"><a href="https://aage.cl" target="blank">AAGE</h5>
                </div>

                <div class="col-md-4 text-center">
                    <a href="https://www.educacionadventista.com/" target="blank">
                        <img src="/static/base/img/logotipo4.jpeg" width="80" height="80">
                    </a>
                    <h5 class="font-black-normal text-center"><a href="https://www.educacionadventista.com/" target="blank">Portal Adventista</h5>
                </div>

                <div class="col-md-4 text-center">
                    <a href="#" target="blank">
                        <img src="/static/base/img/Evaluación-de-los-Aprendizajes-Personalizado.jpg" width="80" height="80">
                    </a>
                    <h5 class="font-black-normal text-center"><a href="#" target="blank">Evaluación Aprendizajes</h5>
                </div>
        </div>
    </div>
{% endblock %}