{% extends 'carga_horaria/asignaturabase/nuevo_asignaturabase.html' %}
{% load staticfiles %}


{% block title_page %}
    Editar {{ object }}
{% endblock %}

{% block title %}
    Editar Asignatura Base
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Suite AAGE</a></li>
    <li class="breadcrumb-item"><a href="{% url 'carga-horaria:home' %}">Carga Horaria</a></li>
    <li class="breadcrumb-item active">Editar Asignatura Base</li>
{% endblock %}


{% block block_editar_eliminar %}
    <li class="breadcrumb-item">
        <a href="{{ object.get_absolute_url }}">
            {{ icono|safe }} {{ object }}
        </a>
    </li>
    <li class="breadcrumb-item active">
        <i class="uil-edit"></i> Editar ({{ object.pk }})
    </li>
{% endblock %}

{% block titulo_formulario %}
  <i class="uil-edit-alt"></i>  Editar Asignatura Base | {{ object }}
{% endblock %}
