{% extends 'base/base.html' %}
{% load humanize crispy_forms_tags staticfiles %}

{% block title_page %}
    Perfil de {{ object }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="card" id="profile-main">
            <div class="pm-overview c-overflow">
                <div class="pmo-pic">
                    <div class="p-relative">
                        <a href="">
                            <img class="img-responsive" src="{{ object.foto}}" alt="{{ object.username }}">
                        </a>
                    </div>

                    <div class="pmo-stat">
                        <h5 class="m-0 c-white">{{ object.rut }}</h5>
                        {{ object.get_full_name }}
                    </div>
                </div>
            </div>


            <div class="pm-body clearfix m-l-5">
                <br>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="perfil-tab" data-toggle="tab" href="#perfil"
                        role="tab" aria-controls="perfil" aria-selected="true">Perfil</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="profesional-tab" data-toggle="tab" href="#profesional"
                        role="tab" aria-controls="profesional" aria-selected="false">Inf. Profesional</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="vacacion-tab" data-toggle="tab" href="#vacacion"
                        role="tab" aria-controls="vacacion" aria-selected="false">Vacaciones</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="licencia-tab" data-toggle="tab" href="#licencia"
                        role="tab" aria-controls="licencia" aria-selected="false">Licencias</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="perfil" role="tabpanel" aria-labelledby="perfil-tab">
                        <div class="pmb-block">
                            <div class="pmbb-body">
                                <div class="pmbb-view">
                                    <table class="table table-responsive">
                                        <body>
                                            <tr>
                                                <th>Fecha de Nacimiento</th>
                                                <td>{{ object.fecha_nacimiento }}</td>
                                            </tr>
                                            <tr>
                                                <th>Genero</th>
                                                <td>{{ object.genero }}</td>
                                            </tr>
                                            <tr>
                                                <th>Nacionalidad</th>
                                                <td>{{ object.nacionalidad }}</td>
                                            </tr>
                                            <tr>
                                                <th>Estado Civil</th>
                                                <td>{{ object.estado_civil }}</td>
                                            </tr>
                                            <tr>
                                                <th>Religión</th>
                                                <td>{{ object.religion }}</td>
                                            </tr>
                                            <tr>
                                                <th>Dirección</th>
                                                <td>{{ object.direccion }}</td>
                                            </tr>
                                            <tr>
                                                <th>Teléfono</th>
                                                <td>{{ object.telefono }}</td>
                                            </tr>
                                            <tr>
                                                <th>Correo Electrónico</th>
                                                <td>{{ object.email }}</td>
                                            </tr>
                                        </body>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profesional" role="tabpanel" aria-labelledby="profesional-tab">
                        <div class="pmb-block">
                            <div class="pmbb-body">
                                <div class="pmbb-view">
                                    <table class="table table-responsive">
                                        <body>
                                            <tr>
                                                <th>Título</th>
                                                <td>{{ object.titulo }}</td>
                                            </tr>
                                            <tr>
                                                <th>Casa Formadora</th>
                                                <td>{{ object.casa_formadora }}</td>
                                            </tr>
                                            <tr>
                                                <th>Antiguedad Docente</th>
                                                <td>{{ object.antiguedad_docente_meses }} meses</td>
                                            </tr>
                                            <tr>
                                                <th>Fecha de ingreso al sistema Docente</th>
                                                <td>{{ object.fecha_ingreso_docente }}</td>
                                            </tr>
                                            <tr>
                                                <th>Antiguedad en el SEA</th>
                                                <td>{{ object.antiguedad_sea_meses }} meses</td>
                                            </tr>
                                            <tr>
                                                <th>Fecha de ingreso al SEA</th>
                                                <td>{{ object.fecha_ingreso_sea }}</td>
                                            </tr>
                                        </body>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="vacacion" role="tabpanel" aria-labelledby="vacacion-tab">
                        <div class="pmb-block">
                            <div class="pmbb-body">
                                <p>Listado de Vacaciones del funcionario, ordenado del mas reciente al mas antiguo.</p>
                                <div class="pmbb-view">
                                    <table class="table table-responsive">
                                        <thead>
                                            <tr>
                                                <th>Periodo</th>
                                                <th>Fecha de retorno</th>
                                                <th>Total de días</th>
                                                <th>Total feriados</th>
                                                <th>Es pendiente</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for v in object.vacacion_set.all %}
                                                <tr>
                                                    <td>{{ v.fecha_inicio|naturalday }} - {{ v.fecha_termino|naturalday }}</td>
                                                    <td>{{ v.fecha_retorno|naturalday }}</td>
                                                    <td>{{ v.total_dias }}</td>
                                                    <td>{{ v.total_feriados }}</td>
                                                    <td>{{ v.es_pendiente|yesno }}</td>
                                                </tr>
                                            {% empty %}
                                                <tr>
                                                    <td>No existen registros de licencias</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="licencia" role="tabpanel" aria-labelledby="licencia-tab">
                        <div class="pmb-block">
                            <div class="pmbb-body">
                                <p>Listado de Licencias del funcionario, ordenado del mas reciente al mas antiguo.
                                    <button name="agregar_licencia" type="button" class="btn btn-sm btn-primary pull-right" data-toggle="modal" data-target="#crear_licencia">
                                        <span><i class="fa fa-plus"></i> Agregar licencia</span>
                                    </button>
                                </p>
                                <div class="pmbb-view">
                                    <table id="licencias" class="table table-responsive">
                                        <thead>
                                            <tr>
                                                <th>Tipo de Licencia</th>
                                                <th>Folio de Licencia</th>
                                                <th>Periodo</th>
                                                <th>Fecha de retorno</th>
                                                <th>Total de días</th>
                                                <th>Total feriados</th>
                                                <th>Son días hábiles</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for l in object.licencia_set.all|dictsortreversed:"id" %}
                                                <tr>
                                                    <td>{% if l.tipo_licencia %} {{ l.tipo_licencia }} {% else %} {{ l.tipo_licencia_descripcion }} {% endif %}</td>
                                                    <td>{{ l.folio_licencia }}</td>
                                                    <td>{{ l.fecha_inicio|naturalday }} - {{ l.fecha_termino|naturalday }}</td>
                                                    <td>{{ l.fecha_retorno|naturalday }}</td>
                                                    <td>{{ l.total_dias }}</td>
                                                    <td>{{ l.total_feriados }}</td>
                                                    <td>{{ l.dias_habiles|yesno }}</td>
                                                </tr>
                                            {% empty %}
                                                <tr>
                                                    <td>No existen registros de licencias</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br>

    <!-- Modal -->
    <div class="modal fade" id="crear_licencia" tabindex="-1" role="dialog" aria-labelledby="crear_licenciaLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                
                <form id="licenciaForm" class="form-horizontal" action="{% comment %}{% url 'rrhh:licencia_funcionario__nuevo' %}{%endcomment%}" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Agregar licencia a {{ object }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body m-10">
                        {% csrf_token %}
                        {% crispy lf_form %}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'rrhh/ownscripts/nueva_licencia_funcionario.js' %}"></script>
    <script>
        function calculo_fechas(){
            let total_dias = $(document).find('#id_total_dias').val();
            let fecha_inicio = $(document).find('#id_fecha_inicio').val();
            let total_feriados = $(document).find('#id_total_feriados').val();
            let fecha_inicio_part = fecha_inicio.split('/');
            console.log(fecha_inicio)
            let fecha = new Date(fecha_inicio_part[2] + '/' + fecha_inicio_part[1] + '/' + fecha_inicio_part[0]);
            console.log(fecha.toLocaleString());

            //let fecha_termino = new Date(fecha_inicial.getFullYear() + '/' + fecha_inicial.getMonth() + '/' + (fecha_inicial.getDate() + parseInt(total_dias) - 1 + parseInt(total_feriados)));
            fecha.setDate(fecha.getDate() + parseInt(total_dias) - 1 + parseInt(total_feriados));
            console.log(fecha);
            let fecha_string = fecha.getDate() + '/' + (fecha.getMonth() + 1) + '/' + fecha.getFullYear();
            console.log(fecha_string);
            $(document).find('#id_fecha_termino').val((fecha_string));

            //let fecha_retorno = new Date((fecha_termino.getFullYear()) + '/' + fecha_termino.getMonth() + '/' + (fecha_termino.getDate() + 1 ));
            fecha.setDate(fecha.getDate() + 1);
            console.log(fecha);
            fecha_string = fecha.getDate() + '/' + (fecha.getMonth() + 1) + '/' + fecha.getFullYear();
            console.log(fecha_string);
            $(document).find('#id_fecha_retorno').val(fecha_string);
        }

        $(function() {
            console.log('Funcionando!!!');
            let total_dias = 0, dias_habiles = 0

            $(document).find('#div_id_tipo_licencia_descripcion').css('display', 'none');
            $(document).find('#id_total_dias').attr('disabled', 'true');
            $(document).find('#id_dias_habiles').attr('disabled', 'true');
            $(document).find('#id_fecha_termino').attr('disabled', 'true');
            $(document).find('#id_fecha_retorno').attr('disabled', 'true');
            $(document).find('#id_dias_habiles').attr('checked', false);

            $(document).on('change', '#id_tipo_licencia', function() {
                let opcion = $(document).find('#id_tipo_licencia_chosen').find('a.chosen-single').find('span').html();
                try {
                    total_dias = opcion.split('(')[1].split(')')[0].split('-')[0];
                    dias_habiles = opcion.split('(')[1].split(')')[0].split('-')[1];
                }catch(err){
                    console.log(err.message);
                    total_dias = 0;
                    dias_habiles = 0;
                }
                if (dias_habiles == '1') {
                    $(document).find('#id_dias_habiles').attr('checked', true);
                }else {
                    $(document).find('#id_dias_habiles').attr('checked', false);
                }
                $(document).find('#id_total_dias').val(total_dias);
            });

            $(document).on('change', '[id^="id_"]', function() {
                calculo_fechas();
            });

            $(document).on('keyup', '[id^="id_"]', function() {
                calculo_fechas();
            });

            $(document).on('submit', '#licenciaForm', function (e) {
                e.preventDefault();
                $.ajax({
                    type: form.attr('method'),
                    url: form.attr('action'),
                    data: form.serialize(),
                    success: function(data) {
                        if (!(data['success'])) {
                            if(data['form_html'] !== null){
                                form.find('#div_id_objetivo').replaceWith(data['form_html']);
                                alertify.warning(data['message']);
                            }
                        } else {
                            let tbody = $(document).find("table[id='licencias']").find('tbody');
                            let nueva_licencia = `<tr>
                                <td>${data.tipo_licencia}</td>
                                <td>${data.folio}</td>
                                <td>${data.periodo}</td>
                                <td>${data.fecha_retorno}</td>
                                <td>${data.total_dias}</td>
                                <td>${data.total_feriados}</td>
                                <td>${data.dias_habiles}</td>
                                </tr>`;
                            tbody.append(nueva_licencia);
                            alertify.success(data['message']);
                            $(document).find("div[class='modal fade show']").modal('hide');
                        }
                    },
                    error: function () {
                        alertify.warning("Ocurrio un error inesperado..");
                    }
                });
            });

        });
    </script>
{% endblock %}
