{% extends 'carga_horaria/colegio/nuevo_colegio.html' %}
{% load staticfiles %}


{% block title_page %}
    Editar {{ object }}
{% endblock %}

{% block block_editar_eliminar %}
    <li class="breadcrumb-item">
        <a href="{{ object.get_absolute_url }}">
            {{ icono|safe }} {{ object }}
        </a>
    </li>
    <li class="breadcrumb-item active">
        <i class="uil-edit"></i> Editar ({{ object.pk }})
    </li>
{% endblock %}

{% block titulo_formulario %}
  <i class="uil-file-edit-alt"></i>  Editar Colegio | {{ object }}
{% endblock %}
