{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title_page %}
    Colegios
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Listado de Colegios 
            <a class="btn btn-sm btn-primary" href="{% url 'carga-horaria:colegio__nuevo'%}" role="button">
                <i class="fa fa-plus"></i>
            </a>
        </h4>
        <h6 class="card-subtitle mb-2 text-muted">Tabla para configuración de Colegios</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><i class="fa fa-calendar-check-o"></i> Nombre </th>
                <th><i class="fa fa-calendar-minus-o"></i> JEC </th>
                <th><i class="fa fa-cogs"></i> Acciones </th>
            </tr>
            </thead>
            <tbody>
            {% for c in object_list %}
                <tr>
                    <td><a href="{% url 'carga-horaria:colegio' c.pk %}">{{ c.nombre }}</a></td>
                    <td>{{c.jec|yesno}}</td>
                    <td>
                        <a class="btn btn-sm btn-primary" href="{% url 'carga-horaria:colegio__editar' c.pk %}" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fa fa-edit"></i></a>
                        <a class="btn btn-sm btn-danger" href="#" data-toggle="modal" data-target="#eliminar_colegio_{{c.pk}}"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
                <div class="modal" tabindex="-1" role="dialog" id="eliminar_colegio_{{c.pk}}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"><strong style="color:red;">¡Alerta!</strong> Está a punto de eliminar un Colegio</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Está seguro que desea eliminar el Colegio "{{c.nombre}}"?.</p>
                                <p class="text-muted">Recuerde que eliminará todos los registros asociados a este Colegio.</p>
                            </div>
                            <div class="modal-footer">
                                <a role="button" class="btn btn-danger" href="#">Eliminar</a>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>    
                </div>
            {% endfor %}
            </tbody>
        </table>
    </div>

    </div>
</div>

{% endblock content  %}
