{% extends 'base/base.html' %}
{% load staticfiles %}
{% load bootstrap_pagination %}

{% block title_page %}
    Colegios
{% endblock %}

{% block title %}
    Colegios
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Suite AAGE</a></li>
    <li class="breadcrumb-item"><a href="{% url 'carga-horaria:home' %}">Carga Horaria</a></li>
    <li class="breadcrumb-item active">Colegios</li>
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Listado de Colegios
	  {% if request.user.is_superuser %}
            <div class="btn-group float-right" role="group">
            <a class="btn btn-outline-primary" href="{% url 'carga-horaria:colegio__nuevo'%}" role="button">
                Crear Colegio<i class="uil-plus"></i>
            </a>
	  {% endif %}
        </h4>
        <h6 class="card-subtitle mb-2 text-muted">Tabla para configuración de Colegios</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><i class="uil-user"></i> Nombre </th>
                <th><i class="uil-book-alt"></i> JEC </th>
                <th><i class="uil-book-alt"></i> SEP </th>
                <th><i class="uil-book-alt"></i> PIE </th>
                <th><i class="uil-home"></i> Dirección </th>
                <th><i class="uil-phone"></i> Teléfono </th>
                <th><i class="uil-envelope-alt"></i> Email </th>
                <th><i class="uil-cog"></i> Acciones </th>
            </tr>
            </thead>
            <tbody>
            {% for c in object_list %}
                <tr>
                    <td><a href="{% url 'carga-horaria:colegio' c.pk %}">{{ c.nombre }}</a></td>
                    <td>{{c.jec|yesno}}</td>
                    <td>{{c.sep|yesno}}</td>
                    <td>{{c.pie|yesno}}</td>
                    <td>{{c.direccion|default:"Ninguna"|truncatewords:2}}</td>
                    <td>{{c.teléfono|default:"Ninguno"}}</td>
                    <td>{{c.email|default:"Ninguno"}}</td>
                    <td>
                      <a class="btn btn-outline-primary" href="{% url 'carga-horaria:colegio__editar' c.pk %}" data-toggle="tooltip" data-placement="top" title="Editar"><i class="uil-edit"></i></a>
                      {% if request.user.is_superuser %}
                      <a class="btn btn-outline-danger" href="#" data-toggle="modal" data-target="#eliminar_colegio_{{c.pk}}"><i class="uil-trash"></i></a>
                      {% endif %}
                    </td>
                </tr>
                <div class="modal" tabindex="-1" role="dialog" id="eliminar_colegio_{{c.pk}}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"><strong style="color:red;">¡Alerta!</strong> Está a punto de eliminar un Colegio</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Está seguro que desea eliminar el Colegio "{{c.nombre}}"?.</p>
                                <p class="text-muted">Recuerde que eliminará todos los registros asociados a este Colegio.</p>
                            </div>
                            <div class="modal-footer">
                                <a role="button" class="btn btn-outline-danger" href="{% url 'carga-horaria:colegio__eliminar' c.pk %}">Eliminar</a>
                                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>    
                </div>
            {% endfor %}
            </tbody>
        </table>
    </div>

    </div>

                    <div class="card-footer">
                    <div align="center">
                        {% bootstrap_paginate page_obj range=5 %}
                    </div>
                </div>

</div>

{% endblock content  %}
