{% extends 'base/base.html' %}
{% load staticfiles humanize %}

{% block title_page %}
    Unión - Detalle
{% endblock %}

{% block title %}
    Detalle de Unión
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Suite AAGE</a></li>
    <li class="breadcrumb-item"><a href="{% url 'rrhh:uniones' %}">Uniones</a></li>
    <li class="breadcrumb-item active">Detalle Unión</li>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h5>{{ object }}
                {% block buttons %}
                    <div class="btn-group btn-group-sm float-right">
                        <a href="{% url 'rrhh:union__editar' object.pk %}" type="button" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Editar">
                            <i class="uil-edit"></i>
                        </a>
                        <a class="btn btn-outline-danger" href="#" data-toggle="modal" data-target="#eliminar_union_{{object.pk}}">
                            <i class="uil-trash" data-toggle="tooltip" data-placement="top" title="Eliminar"></i>
                        </a>
                    </div>
                {% endblock %}
            </h5>

        </div>
        <div class="card-body">
            <div class="row mx-3">
                <div class="col-md-6">
                    <div class="text-left">
                        <h5 class="font-15 text-uppercase">Información</h5>
                        <div style="padding: 12px 20px">
                            <p class="mb-2"><strong>Nombre :</strong> <span class="ml-2">{{ object.nombre }}</span></p>
                            <p class="mb-2"><strong>Abreviación :</strong> <span class="ml-2">{{ object.abrev }}</span></p>
                            <p class="mb-2"><strong>Descripción :</strong> <span class="ml-2">{{ object.descripcion }}</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-left">
                        <h4 class="font-15 text-uppercase">Fundaciones</h4>
                        <ul class="list-group list-group-flush">
                            {% for fundacion in object.fundacion_set.all %}
                                <li class="list-group-item">
                                    <a href="{% url 'rrhh:fundacion' fundacion.pk %}" class="text-muted">{{ fundacion }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="eliminar_union_{{object.pk}}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title alert alert-warning bg-white text-warning" role="alert"><strong>¡Alerta!</strong> Está a punto de eliminar la Unión</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Está seguro que desea eliminar la Unión "{{ object }}"?.</p>
                    <p class="text-muted">Recuerde que eliminará todos los registros asociados a la Unión.</p>
                </div>
                <div class="modal-footer">
                    <a role="button" class="btn btn-outline-danger" href="{% url 'rrhh:union__eliminar' object.pk %}">Eliminar</a>
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
