{% extends 'encuesta/object_list.html' %}

{% block title_page %}
    Categorias de preguntas
{% endblock %}

{% block title_panel %}
 <strong> Categorias de Preguntas </strong> <span class="badge"> {{ total_objects }} </span>
<a href="#" class="btn btn-danger btn-sm"> <span class="glyphicon glyphicon-plus"></span> Añadir</a>
{% endblock %}

{% block alert_empty_message %}
No se encontraron categorias de preguntas creadas..
{% endblock %}

{% block  placeholder_buscar %}
Buscar Categorias...
{% endblock %}