{% extends 'base/base.html' %}
{% load staticfiles crispy_forms_tags %}

{% block title_page %}
    Configuración de Evaluados
{% endblock %}

{% block title %}
    Configuración de Evaluados
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Suite AAGE</a></li>
    <li class="breadcrumb-item"><a href="{% url 'evado:home_evado' %}">Evaluación Docente</a></li>
    <li class="breadcrumb-item active">Configuración de Evaluados</li>
{% endblock %}

{% block content %}

    <div class="card">
        <div class="card-header">
            <h5>Esta configuración, quedará disponible para ser asociada con el Universo de Encuesta que desee</h5>
        </div>
        <div class="card-body">

            <ul class="nav nav-tabs nav-bordered mb-3">
                <li class="nav-item">
                    <a href="#profile-b1" data-toggle="tab" aria-expanded="true" class="nav-link active">
                        <i class="mdi mdi-account-circle d-md-none d-block"></i>
                        <span class="d-none d-md-block">Importar configuración</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#home-b1" data-toggle="tab" aria-expanded="false" class="nav-link">
                        <i class="mdi mdi-home-variant d-md-none d-block"></i>
                        <span class="d-none d-md-block">Nueva configuración</span>
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane" id="home-b1">
                    <form role="Form" method="POST" action=".">
                        {% csrf_token %}
                        {#        <table class="table table-bordered table-striped">#}
                        {#            {{ form.as_table }}#}
                        {#        </table>#}
                        {% crispy form %}
                        <div>
                            <button type="submit" class="btn btn-success"> <span class="glyphicon glyphicon-arrow-down"></span>  Guardar </button>
                        </div>
                    </form>
                </div>
                <div class="tab-pane show active" id="profile-b1">
                    <form action="{% url 'evado:persona_upload' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% crispy formImport %}
                        {#                        <label class="form-label" for="file">Subir un archivo</label>#}
                        {#                        <input type="file" id="file" name="file">#}
                        {#                        <p class="small"><small>*Se admiten archivos XLS, XLSX (ver plantilla)</small></p>#}
                        <button class="btn btn-success" type="submit">Importar</button>
                        <a class="btn btn-info" href="{% static 'evado/plantilla_evaluadores.xlsx' %}" download>Descargar Plantilla</a>
                        <a class="btn btn-primary" href="{% url 'evado:export_eup_xls' %}">Exportar Configuración</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Carlos -->

    <div class="card">
        <div class="card-body">
            <h4>Configuración de evaluados</h4>
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th> Detalle </th>
                        <th> Evaluados </th>
                        <th> Eliminar </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% regroup configuraciones by persona as configs %}

                    {% for x in configs %}

                        {% regroup x.list by tipo_encuesta as tipos_encuestas %}

                        {% for t in tipos_encuestas %}
                            {% regroup t.list by periodo as periodos %}

                            {% for p in periodos %}
                                <tr>
                                    <td> <strong>Evaluador:</strong> {{ p.list.0.persona }} <br>
                                        <strong>Tipo de Universo de Encuesta:</strong> {{ p.list.0.tipo_encuesta }} <br>
                                        <strong>Periodo:</strong> {{ p.grouper }}
                                    </td>
                                    <td>
                                        <ul>
                                            {% for item in p.list %}
                                                {% for evaluado in item.evaluados.all %}
                                                    <li> {{ evaluado.rut }} - {{ evaluado.nombres }} {{ evaluado.apellidos }} </li>
                                                {% endfor %}
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td>
                                        <a href="{% url 'evado:eliminar_configurar_universo_personas' p.list.0.id %}" class="btn btn-danger btn-xs">
                                            <span class="uil-trash-alt"> </span>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <a class="btn btn-danger" href="{% url 'evado:eliminar_todos_eup' %}">Eliminar Relaciones</a>
        </div>
    </div>
{% endblock %}


{% block extra_js %}
    <script>
        $(function() {
            $(".volatile").animate({opacity: 1}, 400, "swing", function () {
                $(".volatile").delay(3000).fadeOut();
            });
            $('select').select2();
        });
    </script>
{% endblock %}