{% extends 'encuesta/object_list.html' %}

{% block title_page %}
    Encuestas
{% endblock %}

{% block title %}
 <strong> Encuestas </strong> <span class="badge"> {{ total_objects }} </span>
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Suite AAGE</a></li>
    <li class="breadcrumb-item"><a href="{% url 'evado:home_evado' %}">Evaluación Docente</a></li>
    <li class="breadcrumb-item active">Encuestas</li>
{% endblock %}

{% block subtitle %}
    Tabla para configuración de Encuestas
{% endblock %}

{% block create_button %}
{#    <a class="btn btn-sm btn-outline-primary float-right" href="{% url 'evado:encuesta_create'%}" role="button">#}
{#        <span><i class="uil-plus"></i> Crear Encuesta</span>#}
{#    </a>#}
{% endblock %}

{% block table_list %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th><i class="uil-user-exclamation"></i> Nombre </th>
            <th><i class="uil-document-layout-left"></i> Descripción </th>
            <th><i class="mdi mdi-cogs"></i> Opciones </th>
        </tr>
        </thead>
        <tbody>
        {% for o in object_list %}
            <tr>
                <td><a href="{% url 'evado:encuesta_detail' o.pk %}"> {{ o.titulo }} </a></td>
                <td> {{ o.descripcion|safe|escape|truncatewords:"15" }} </td>
                <td>
{#                    <a class="btn btn-outline-primary" href="{% url 'evado:encuesta_update' o.pk %}"#}
{#                       data-toggle="tooltip" data-placement="top" title="Editar"><i class="uil-edit"></i></a>#}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

