{% extends 'base/base.html' %}
{% load humanize staticfiles%}

{% block title_page %}
    Evaluación Docente
{% endblock %}

{% block title %}
    Evaluación Docente
{% endblock %}

{% block content %}
    {% if request.user.perfilusuario.es_asesor %}
        <div class="row text-center mb-3">
            <div class="col-md-4">
                <div class="card mx-md-3">
                    <a href="{% url 'evado:encuesta_list' %}" class="black">
                        <div class="card-body">
                            <i class="mdi mdi-clipboard-edit-outline text-info" style="font-size: 100px"></i>
                            <h4 class="text-black-50 text-center">Encuestas</h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mx-md-3">
                    <a href="{% url 'evado:configurar_universo_personas' %}" class="black">
                        <div class="card-body">
                            <i class="mdi mdi-account-group text-info" style="font-size: 100px"></i>
                            <h4 class="text-black-50 text-center">Configurar Evaluados</h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mx-md-3">
                    <a href="{% url 'evado:universo_encuesta_list' %}" class="black">
                        <div class="card-body">
                            <i class="mdi mdi-account-convert text-info" style="font-size: 100px"></i>
                            <h4 class="text-black-50 text-center">Universos de Encuestas</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
    <ul class="nav nav-pills nav-justified">
        <li class="nav-item card">
            <a href="#first" data-toggle="tab" aria-expanded="false" class="rounded-0">
                <div class="m-0">
                    <div class="card-body text-center">
                        <i class="dripicons-lock-open text-muted" style="font-size: 32px;"></i>
                        <h3><span>{{ encuestas_habilitadas|length }}</span></h3>
                        <p class="text-muted font-15 mb-0">Encuestas Habilitadas</p>
                    </div>
                </div>
            </a>
        </li>
        <li class="nav-item card shadow-none">
            <a href="#second" data-toggle="tab" aria-expanded="false" class="rounded-0">
                <div class="sm-0 border-left">
                    <div class="card-body text-center">
                        <i class="dripicons-briefcase text-muted" style="font-size: 32px;"></i>
                        <h3><span>{{ total_encuestas_finalizadas }}</span></h3>
                        <p class="text-muted font-15 mb-0">Encuestas terminadas</p>
                    </div>
                </div>
            </a>
        </li>
        <li class="nav-item card shadow-none">
            <a href="#third" data-toggle="tab" aria-expanded="false" class="rounded-0">
                <div class="m-0 border-left">
                    <div class="card-body text-center">
                        <i class="dripicons-document-edit text-muted" style="font-size: 32px;"></i>
                        <h3><span>{{ encuestas_rendidas|length }}</span></h3>
                        <p class="text-muted font-15 mb-0">Últimas rendidas <small> hace 2 días </small></p>
                    </div>
                </div>
            </a>
        </li>
    </ul>

    <div class="card">
        <div class="tab-content">
            <div class="tab-pane show active" id="first">
                <div class="card-body">
                    {#                    <div class="dropdown float-right">#}
                    {#                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">#}
                    {#                            <i class="mdi mdi-dots-vertical"></i>#}
                    {#                        </a>#}
                    {#                        <div class="dropdown-menu dropdown-menu-right" style="">#}
                    {#                            <!-- item-->#}
                    {#                            <a href="javascript:void(0);" class="dropdown-item">Weekly Report</a>#}
                    {#                            <!-- item-->#}
                    {#                            <a href="javascript:void(0);" class="dropdown-item">Monthly Report</a>#}
                    {#                            <!-- item-->#}
                    {#                            <a href="javascript:void(0);" class="dropdown-item">Action</a>#}
                    {#                            <!-- item-->#}
                    {#                            <a href="javascript:void(0);" class="dropdown-item">Settings</a>#}
                    {#                        </div>#}
                    {#                    </div>#}
                    <h4 class="header-title mb-3">Encuestas Habilitadas</h4>

                    {#                    <p><b>107</b> Tasks completed out of 195</p>#}

                    <div class="table-responsive">
                        <table class="table table-centered table-nowrap table-hover mb-0">
                            <tbody>
                            {% for x in encuestas_habilitadas %}
                                <tr>
                                    <td>
                                        <h5 class="font-14 my-1"><a href="{% url 'evado:encuesta_detail' x.encuesta.pk %}" class="text-body">{{ x.encuesta.titulo }}</a></h5>
                                        <span class="text-muted font-13"><em>{{ x.periodo_activo }}</em> </span>
                                    </td>
                                    <td class="text-center">
                                        <h5 class="font-14 my-1">Evaluadores</h5>
                                        <h4 class="text-muted font-14">{{ x.total_evaluadores }}</h4>
                                    </td>
                                    <td class="text-center">
                                        <h5 class="font-14 my-1">Total evaluaciones</h5>
                                        <h4 class="text-muted font-14">{{ x.total_evaluaciones }}</h4>
                                    </td>
                                    <td class="text-center">
                                        <h5 class="font-14 my-1">Total finalizadas</h5>
                                        <h4 class="text-muted font-14">{{ x.total_finalizadas }}</h4>
                                    </td>
                                </tr>
                            {% empty %}
                                No existen datos
                            {% endfor %}

                            </tbody>
                        </table>
                    </div> <!-- end table-responsive-->

                </div> <!-- end card body-->
            </div>
            <div class="tab-pane" id="second">
                <div class="card-body">
                    {#                    <div class="dropdown float-right">#}
                    {#                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">#}
                    {#                            <i class="mdi mdi-dots-vertical"></i>#}
                    {#                        </a>#}
                    {#                        <div class="dropdown-menu dropdown-menu-right" style="">#}
                    {#                            <!-- item-->#}
                    {#                            <a href="javascript:void(0);" class="dropdown-item">Weekly Report</a>#}
                    {#                            <!-- item-->#}
                    {#                            <a href="javascript:void(0);" class="dropdown-item">Monthly Report</a>#}
                    {#                            <!-- item-->#}
                    {#                            <a href="javascript:void(0);" class="dropdown-item">Action</a>#}
                    {#                            <!-- item-->#}
                    {#                            <a href="javascript:void(0);" class="dropdown-item">Settings</a>#}
                    {#                        </div>#}
                    {#                    </div>#}
                    <h4 class="header-title mb-3">Encuestas terminadas</h4>

                    {#                    <p><b>107</b> Tasks completed out of 195</p>#}

                    <div class="table-responsive">
                        <table class="table table-centered table-nowrap table-hover mb-0">
                            <tbody>
                            {% regroup encuestas_finalizadas by universo_encuesta as universos %}
                            {% for universo in universos %}
                                <tr>
                                    <td>
                                        <h5 class="font-14 my-1"><a href="javascript:void(0);" class="text-body">{{ universo.grouper.encuesta.titulo }}</a></h5>
                                        <span class="text-muted font-13"><em> {{ universo.grouper.periodo_activo }}</em></span>
                                    </td>
                                    <td>
                                        <h5 class="font-14 my-1">Evaluador</h5>
                                        <span class="font-14 mt-1 font-weight-normal">{{ universo.list.0.persona.get_name }}</span>
                                    </td>
                                    <td>
                                        <h5 class="font-14 my-1">Total evaluaciones</h5>
                                        <span class="font-14 mt-1 font-weight-normal">{{ universo.grouper.total_evaluaciones }}</span>
                                    </td>
                                    <td>
                                        <h5 class="font-14 my-1">Finalizada</h5>
                                        <span class="font-14 mt-1 font-weight-normal">{{ universo.list.0.finalizado|naturalday }}</span>
                                    </td>
                                </tr>
                            {% empty %}
                                No existen datos
                            {% endfor %}

                            </tbody>
                        </table>
                    </div> <!-- end table-responsive-->

                </div> <!-- end card body-->
            </div>
            <div class="tab-pane" id="third">
                <div class="card-body">
                    {#                    <div class="dropdown float-right">#}
                    {#                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">#}
                    {#                            <i class="mdi mdi-dots-vertical"></i>#}
                    {#                        </a>#}
                    {#                        <div class="dropdown-menu dropdown-menu-right" style="">#}
                    {#                            <!-- item-->#}
                    {#                            <a href="javascript:void(0);" class="dropdown-item">Weekly Report</a>#}
                    {#                            <!-- item-->#}
                    {#                            <a href="javascript:void(0);" class="dropdown-item">Monthly Report</a>#}
                    {#                            <!-- item-->#}
                    {#                            <a href="javascript:void(0);" class="dropdown-item">Action</a>#}
                    {#                            <!-- item-->#}
                    {#                            <a href="javascript:void(0);" class="dropdown-item">Settings</a>#}
                    {#                        </div>#}
                    {#                    </div>#}
                    <h4 class="header-title mb-3">Últimas encuestas rendidas</h4>

                    {#                    <p><b>107</b> Tasks completed out of 195</p>#}

                    <div class="table-responsive">
                        <table class="table table-centered table-nowrap table-hover mb-0">
                            <tbody>
                            {% for x in encuestas_rendidas %}
                                <tr>
                                    <td>
                                        <h5 class="font-14 my-1"><a href="javascript:void(0);" class="text-body">{{ x.universo_encuesta.encuesta.titulo }} ({{ x.tipo_encuesta }})</a></h5>
                                        <span class="text-muted font-13"><em> {{ x.universo_encuesta.periodo_activo }}</em></span>
                                    </td>
                                    <td>
                                        <h5 class="font-14 my-1">Evaluador</h5>
                                        <span class="font-14 mt-1 font-weight-normal">{{ x.persona.get_name }}</span>
                                    </td>
                                    <td>
                                        <h5 class="font-14 my-1">Evaluado</h5>
                                        <span class="font-14 mt-1 font-weight-normal">{{ x.evaluado.get_name }}</span>
                                    </td>
                                    <td>
                                        <h5 class="font-14 my-1">Finalizada</h5>
                                        <span class="font-14 mt-1 font-weight-normal">{{ x.finalizado|naturalday }}</span>
                                    </td>
                                </tr>
                            {% empty %}
                                No existen datos
                            {% endfor %}
                            </tbody>
                        </table>
                    </div> <!-- end table-responsive-->

                </div> <!-- end card body-->
            </div>
        </div>
    </div> <!-- end card -->

{% endblock %}

