{% extends 'base/base.html' %}
{% load bootstrap_pagination %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h5>{% block subtitle %}{% endblock %}
                {% block create_button %}{% endblock %}
            </h5>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                {% block table_list %}{% endblock %}
            </div>
        </div>

        <div class="card-footer">
            <div>
                {% bootstrap_paginate page_obj range=5 %}
            </div>
        </div>

    </div>

{% endblock content  %}
