{% extends 'encuesta/base.html' %}
{% load active_link_tags %}
{% load bootstrap_pagination %}

{% block content %}

    <div class="row">
        <div class="col-md-3">
            <!--  Lista de objetos  -->
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title"> {% block title_panel %} {% endblock %}  </h1>
                </div>
                <div class="panel-body">

                    <form role="form" method="GET">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" name="q" placeholder="{% block placeholder_buscar %} {% endblock %}">
                            <span class="input-group-btn">
                            <button class="btn btn-info" type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                            </span>
                        </div><!-- /input-group -->
                    </form>
                    {% if is_filter %}
                    <a href="{{ request.path }}"> Quitar Filtro</a>
                    {% endif %}

                    <hr>
                    {% bootstrap_paginate object_list range=4 show_first_last="true"  %}
                    <ul class="list-group"  style="height: 300px; overflow-y: auto;">
                        {% for x in object_list %}
                            <a href="{{  x.get_absolute_url }}" {% if x.get_absolute_url %} class="list-group-item active" {% else %} class="list-group-item" {% endif %}> {{ x }} </a>
                        {% empty %}
                            <div class="alert alert-warning"> {% block alert_empty_message %} {% endblock %} </div>
                        {% endfor %}
                    </ul>

                </div>
            </div>
        </div>
        <div class="col-md-9">
            <!-- Detalle de objeto -->
            {% block object_detail %}
                <div class="alert alert-info"> Seleccione un item de la lista.</div>
            {% endblock %}
        </div>
    </div>


{% endblock %}