{% extends 'encuesta/object_list.html' %}

{% block title_page %}
    Grupos de Encuestas
{% endblock %}

{% block title %}
    Grupos de Encuestas
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Suite AAGE</a></li>
    <li class="breadcrumb-item"><a href="{% url 'evado:home_evado' %}">Evaluación Docente</a></li>
    <li class="breadcrumb-item active">Grupos de Encuestas</li>
{% endblock %}

{% block subtitle %}
    Tabla para configuración de Grupos de Encuestas
{% endblock %}

{% block create_button %}
    <a class="btn btn-sm btn-outline-primary float-right" href="{% url 'evado:periodo_create'%}" role="button">
        <span><i class="uil-plus"></i> Crear Grupo de Encuestas</span>
    </a>
{% endblock %}

{% block table_list %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th><i class="uil uil-user-exclamation"></i> Nombre </th>
            <th><i class="uil uil-check-circle"></i> Activo </th>
            <th><i class="mdi mdi-cogs"></i> Opciones </th>
        </tr>
        </thead>
        <tbody>
        {% for o in object_list %}
            <tr>
                <td>{{ o.nombre }}</td>
                <td> {% if o.activo %}<i class="text-success uil-check-circle"></i>{% endif %} {{ o.activo|yesno|title }} </td>
                <td>
                    <a class="btn btn-outline-primary" href="{% url 'evado:periodo_update' o.pk %}"
                       data-toggle="tooltip" data-placement="top" title="Editar"><i class="uil-edit"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
