{% extends 'base/base.html' %}
{% load staticfiles crispy_forms_tags %}

{% block title_page %}
    Universo de Encuestas - {% if object %}Editar{% else %}Crear{% endif %}
{% endblock %}

{% block title %}
    Crear Universo de Encuestas <small> {% now "D d M Y" %} </small>
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Suite AAGE</a></li>
    <li class="breadcrumb-item"><a href="{% url 'evado:home_evado' %}">Evaluación Docente</a></li>
    <li class="breadcrumb-item"><a href="{% url 'evado:universo_encuesta_list' %}">Universos de Encuestas</a></li>
    <li class="breadcrumb-item active">{% if object %}Editar{% else %}Crear{% endif %} Universo de Encuestas</li>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h5>Datos de Universo de Encuestas</h5>
        </div>
        <div class="card-body">
            <form class="form-horizontal text-" method="post">
                {% csrf_token %}
                {% crispy form %}
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                        <button type="submit" class="btn btn-outline-success">Guardar</button>
                        <a href="{{ request.META.HTTP_REFERER }}"
                           role="button" class="btn btn-outline-info">
                            Volver
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        $(function() {
            $('select').select2();
            $('.summernote').summernote({
                placeholder: 'Escriba aquí lo que quiere decir...',
                tabsize: 2,
                height: 180
            });
            $(document).on("click", "#select_all", function(){
                console.log("HACE ALGO");
                $("#id_config_universo_persona > option").prop("selected","selected");
                $("#id_config_universo_persona").trigger("change");
            });
        });
    </script>
{% endblock %}