{% extends 'encuesta/universo_encuesta_list.html' %}

{% block title_page %}
    Universo de Encuestas - detalle
{% endblock %}

{% block title %}
    Detalle de Universo de Encuestas
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Suite AAGE</a></li>
    <li class="breadcrumb-item"><a href="{% url 'evado:home_evado' %}">Evaluación Docente</a></li>
    <li class="breadcrumb-item"><a href="{% url 'evado:universo_encuesta_list' %}">Universos de Encuestas</a></li>
    <li class="breadcrumb-item active">Detalle de Universo de Encuestas</li>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h5>{{ universoencuesta }} <small>{{ object.periodo }}</small>
                {% block buttons %}
                    <div class="btn-group btn-group-sm float-right">
{#                        <a class="btn btn-outline-primary" href="{% url 'evado:universo_encuesta_edit' object.pk %}"#}
{#                           data-toggle="tooltip" data-placement="top" title="Editar">#}
{#                            <i class="uil-edit"></i></a>#}
                        <a data-toggle="modal" data-target="#send_mails" class="btn btn-primary">
                            <span class="mdi mdi-email-send"></span> Enviar Correos </a>
                        <a class="btn btn-success" href="{% url 'evado:actualizar_encuestas_universo' object.pk %}">
                            <i class="uil-refresh"></i> Actualizar encuestas
                        </a>
                    </div>
                {% endblock %}
            </h5>
            <p class="subtitle"> Listado de Personas <small> Disponibles para Encuestar. </small> </p>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table id="basic-datatable" class="table">
                    <thead>
                    <th>Evaluador</th>
                    </thead>
                    <tbody>
                    {% for x in personas %}
                        <tr>
                            <td>
                                {{ x.persona }}
                                <a href="{% url 'evado:enviar_encuesta' x.persona.id universoencuesta.id %}" class="btn btn-sm btn-primary float-right">
                                    <span class="mdi mdi-email-send"></span> Enviar Correo
                                </a>
                                <p class="label {% if x.correo_enviado %} text-success {% else %} text-danger {% endif %} mb-0">
                                    {% if x.correo_enviado %} Enviado {% else %} No Enviado  {% endif %}
                                </p>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {#            <ul class="list-group">#}
            {#                {% for x in personas %}#}
            {#                    <li class="list-group-item">#}
            {#                        {{ x.persona }}#}
            {#                        <a href="{% url 'evado:enviar_encuesta' x.persona.id universoencuesta.id %}" class="btn btn-sm btn-primary float-right">#}
            {#                            <span class="mdi mdi-email-send"></span> Enviar Correo#}
            {#                        </a>#}
            {#                        <p class="label {% if x.correo_enviado %} text-success {% else %} text-danger {% endif %} mb-0">#}
            {#                            {% if x.correo_enviado %} Enviado {% else %} No Enviado  {% endif %}#}
            {#                        </p>#}
            {#                    </li>#}
            {#                {% endfor %}#}
            {#            </ul>#}
        </div>
    </div>

    <!-- Modal -->
    <div class="modal" tabindex="-1" role="dialog" id="send_mails">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Envío de Correos <small> {{ universoencuesta }} </small></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p> ¿Está seguro que desea enviar multiples correos?</p>
                    {% if universoencuesta.correos_enviados %}
                        <div class="alert alert-danger">
                            <strong> Ya ha realizado el envío de correos el {{ universoencuesta.correos_enviados }} </strong>
                        </div>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar operación</button>
                    <a href="{% url 'evado:enviar_todas_encuestas' universoencuesta.id %}" class="btn btn-primary">Enviar Correos</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}