{% extends 'base/base.html' %}
{% load staticfiles humanize %}

{% block title_page %}
    Colegio - Detalle
{% endblock %}

{% block content %}

<div class="card" style="margin-top: 80px;">
    <div class="card-header">
      <h4 class="card-title page-title"><strong>Detalle de Colegio</strong>
          {% block buttons %}
              <div class="btn-group float-right">
                  <a href="{% url 'rrhh:colegios' %}" type="button" class="btn btn-outline-dark">
                      <i class="uil-arrow-left"></i>
                  </a>
                  <a href="{% url 'rrhh:colegio__editar' object.pk %}" type="button" class="btn btn-outline-primary">
                      <i class="uil-edit"></i>
                  </a>
                  <a class="btn btn-outline-danger" href="#" data-toggle="modal" data-target="#eliminar_colegio_{{object.pk}}">
                      <i class="uil-trash-alt"></i>
                  </a>
              </div>
          {% endblock %}
        </h4>
        <h6 class="card-subtitle mb-2 text-muted">{{ object }}</h6>

    </div>
    <div class="card-body">
        <table class="table table-hover table-sm">
            <tbody>
                <tr>
                    <th> Nombre </th>
                    <td>  {{ object.nombre }}  </td>
                </tr>
                <tr>
                    <th> Descripcion </th>
                    <td>  {% if object.descripcion %} {{ object.descripcion }} {% else %} No hay datos {% endif %}  </td>
                </tr>
            </tbody>
        </table>
    </div>
 </div>

<div class="modal" tabindex="-1" role="dialog" id="eliminar_colegio_{{object.pk}}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title alert alert-danger bg-white text-danger" role="alert"><strong>¡Alerta!</strong> Está a punto de eliminar la Colegio</h5>
                <button type="button" class="close btn btn-outline-info" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Está seguro que desea eliminar la Colegio "{{ object }}"?.</p>
                <p class="text-muted">Recuerde que eliminará todos los registros asociados a la Colegio.</p>
            </div>
            <div class="modal-footer">
                <a role="button" class="btn btn-outline-danger" href="{% url 'rrhh:colegio__eliminar' object.pk %}">Eliminar</a>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
