{% extends 'base/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}


{% block content %}
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Editar Contrato
        </h4>
        <h6 class="card-subtitle mb-2 text-muted">Datos del contrato</h6>
    </div>
    <div class="card-body">

        <form class="form-horizontal" method="post">
            {% csrf_token %}
            {% crispy form %}
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <button type="submit" class="btn btn-outline-success">Guardar</button>
                    <a href="{{ request.META.HTTP_REFERER }}"
                    role="button" class="btn btn-outline-info">
                        Volver
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        function tipo_contrato(){
            let tipo  = document.getElementById("id_tipo_contrato").value;
            if(tipo === '1'){//(1, 'Indefinido'),
                $(document).find('#div_id_fecha_termino').fadeOut();
                $(document).find('#id_fecha_termino').attr('disabled', true);
                
                $(document).find('#div_id_reemplazando_permiso').fadeOut();
                $(document).find('#id_reemplazando_permiso').attr('disabled', true);

                $(document).find('#div_id_reemplazando_licencia').fadeOut();
                $(document).find('#id_reemplazando_licencia').attr('disabled', true);
            }
            if(tipo === '2'){//(2, 'A plazo'),
                $(document).find('#div_id_fecha_termino').fadeIn();
                $(document).find('#id_fecha_termino').prop('disabled', false);

                $(document).find('#div_id_reemplazando_permiso').fadeOut();
                $(document).find('#id_reemplazando_permiso').attr('disabled', true);

                $(document).find('#div_id_reemplazando_licencia').fadeOut();
                $(document).find('#id_reemplazando_licencia').attr('disabled', true);
            }
            if(tipo === '3'){//(3, 'Reemplazo'),
                $(document).find('#div_id_fecha_termino').fadeIn();
                $(document).find('#id_fecha_termino').prop('disabled', false);

                $(document).find('#div_id_reemplazando_permiso').fadeIn();
                $(document).find('#id_reemplazando_permiso').attr('disabled', false);

                $(document).find('#div_id_reemplazando_licencia').fadeIn();
                $(document).find('#id_reemplazando_licencia').attr('disabled', false);
            }
        }

        $(function(){
            $(document).find('#div_id_fecha_termino').fadeOut();
            $(document).find('#id_fecha_termino').attr('disabled', true);
            $(document).find('#div_id_reemplazando_licencia').fadeOut();
            $(document).find('#id_reemplazando').attr('disabled', true);
            $(document).find('#div_id_isapre').fadeOut();
            $(document).find('#id_isapre').attr('disabled', true);

            setTimeout(function(){
                tipo_contrato();
            }, 500);
            $(document).change('#id_tipo_contrato', function() {
                tipo_contrato();
            });
        });
    </script>
{% endblock %}