{% extends 'base/base.html' %}
{% load staticfiles %}
{% load bootstrap_pagination %}

{% block title_page %}
    Colaboradores
{% endblock %}

{% block title %}
    Colaboradores
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Suite AAGE</a></li>
    <li class="breadcrumb-item"><a href="{% url 'rrhh:home_rrhh' %}">Recursos Humanos</a></li>
    <li class="breadcrumb-item active">Colaboradores</li>
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h5>Tabla para configuración de Contratos
            <a class="btn btn-outline-primary float-right" href="{% url 'rrhh:contrato__nuevo'%}" role="button">
        	    <span> Crear contrato <i class="uil-plus"></i></span>
            </a>
        </h5>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><i class="uil-user"></i> Persona </th>
                    <th><i class="uil-building "></i> Entidad </th>
                    <th><i class="uil-list-ul"></i> Categoria </th>
                    <th><i class="uil-check"></i> Vigente </th>
                    <th><i class="mdi mdi-cogs"></i> Opciones </th>
                </tr>
                </thead>
                <tbody>
                {% for c in object_list %}
                    <tr>
                        <td><a href="{% url 'rrhh:contrato' c.pk %}"> {{ c.funcionario.persona }} </a></td>
                        <td> {{ c.entidad }} </td>
                        <td> {{ c.get_categoria_display }} </td>
                        <td class="text-center">
                            {% if c.estado_id != 4 %}
                                <span class="badge badge-pill badge-earning">{{ c.estado }}</span> 
                            {% endif %}
                            <span class="badge badge-pill
                                {% if c.vigente %}
                                    {% if c.dias_termino_contrato <= 120 and c.categoria == 2 %}
                                        badge-warning
                                    {% elif c.dias_termino_contrato <= 60 %}
                                        badge-warning
                                    {% else %}
                                        badge-success
                                    {% endif %}
                                {% else %}
                                    badge-danger
                                {% endif%}">
                                {% if c.vigente %}
                                    {% if c.dias_termino_contrato <= 120 and c.categoria == 2 %}
                                        Expira en {{ c.dias_termino_contrato }} días
                                    {% elif c.dias_termino_contrato <= 60 %}
                                        Expira en {{ c.dias_termino_contrato }} días
                                    {% else %}
                                        {{ c.vigente|yesno }}
                                    {% endif %}
                                {% else %}
                                    {{ c.vigente|yesno }}
                                {% endif %}
                            </span>
                        </td>
                        <td>
                            {% if c.vigente %}
                                <div class="btn-group">
                                    <a class="btn btn-item-group btn-outline-primary" href="{% url 'rrhh:contrato__editar' c.pk %}" data-toggle="tooltip" data-placement="top" title="Editar contrato">
                                        <i class="uil-edit"></i></a>
                                    <a class="btn btn-item-group btn-outline-info" href="{% url 'rrhh:persona__editar' c.funcionario.persona.pk %}" data-toggle="tooltip" data-placement="top" title="Editar persona">
                                        <i class="uil-edit"></i></a>
                                    <a class="btn btn-item-group btn-outline-danger" href="{% url 'rrhh:finiquito__nuevo' c.pk %}" data-toggle="tooltip" data-placement="top" title="Dar de baja">
                                        <i class="uil-user-times"></i></a>
                                    <a class="btn btn-item-group btn-outline-warning" href="{% url 'rrhh:funcionario__trasladar' c.pk %}" data-toggle="tooltip" data-placement="top" title="Trasladar">
                                        <i class="mdi mdi-send"></i></a>
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="card-footer">
        <div align="center">
            {% bootstrap_paginate page_obj range=5 %}
        </div>
    </div>

</div>

{% endblock content  %}
