{% extends 'base/base.html' %}
{% load staticfiles %}
{% load bootstrap_pagination %}

{% block title_page %}
    Personal
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Personal
            <a class="btn btn-sm btn-primary pull-right" href="{% url 'rrhh:contrato__nuevo'%}" role="button">
        	    <span> Crear contrato <i class="fa fa-plus"></i></span>
            </a>
        </h4>
        <h6 class="card-subtitle mb-2 text-muted">Tabla para configuración de Contratos</h6>
    </div>
    <div class="card-body">
        <!-- <div>
            <p>
                <a class="btn btn-outline-dark" href="{% url 'rrhh:funciones' %}"><i class="fa fa-star-o"></i> Nueva Función de personal</a>
                <a class="btn btn-outline-dark" href="{% url 'rrhh:isapres' %}"><i class="fa fa-star-o"></i> Nueva ISAPRE</a>
                <a class="btn btn-outline-dark" href="{% url 'rrhh:afps' %}"><i class="fa fa-star-o"></i> Nueva AFP</a>
            </p>
        </div> -->
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><i class="fa fa-user"></i> Persona </th>
                    <th><i class="fa fa-building"></i> Colegio </th>
                    <th><i class="fa fa-list"></i> Categoria </th>
                    <th><i class="fa fa-check"></i> Vigente </th>
                    <th><i class="fa fa-clock"></i> Opciones </th>
                </tr>
                </thead>
                <tbody>
                {% for c in object_list %}
                    <tr>
                        <td><a href="{% url 'rrhh:contrato' c.pk %}"> {{ c.funcionario.persona }} </a></td>
                        <td> {{ c.colegio }} </td>
                        <td> {{ c.get_categoria_display }} </td>
                        <td class="text-center">
                            {% if c.estado_id != 4 %}
                                <span class="badge badge-pill badge-earning">{{ c.estado }}</span> 
                            {% endif %}
                            <span class="badge badge-pill
                                {% if c.vigente %}
                                    {% if c.dias_termino_contrato <= 120 and c.categoria == 2 %}
                                        badge-warning
                                    {% elif c.dias_termino_contrato <= 60 %}
                                        badge-warning
                                    {% else %}
                                        badge-success
                                    {% endif %}
                                {% else %}
                                    badge-danger
                                {% endif%}">
                                {% if c.vigente %}
                                    {% if c.dias_termino_contrato <= 120 and c.categoria == 2 %}
                                        Expira en {{ c.dias_termino_contrato }} días
                                    {% elif c.dias_termino_contrato <= 60 %}
                                        Expira en {{ c.dias_termino_contrato }} días
                                    {% else %}
                                        {{ c.vigente|yesno }}
                                    {% endif %}
                                {% else %}
                                    {{ c.vigente|yesno }}
                                {% endif %}
                            </span>
                        </td>
                        <td>
                            {% if c.vigente %}
                                <div class="btn-group">
                                    <a class="btn btn-item-group btn-sm btn-primary" href="{% url 'rrhh:contrato__editar' c.pk %}" data-toggle="tooltip" data-placement="top" title="Editar contrato">
                                        <i class="fa fa-edit"></i></a>
                                    <a class="btn btn-item-group btn-sm btn-info" href="{% url 'rrhh:persona__editar' c.funcionario.persona.pk %}" data-toggle="tooltip" data-placement="top" title="Editar persona">
                                        <i class="fa fa-edit"></i></a>
                                    <a class="btn btn-item-group btn-sm btn-danger" href="{% url 'rrhh:finiquito__nuevo' c.pk %}" data-toggle="tooltip" data-placement="top" title="Dar de baja">
                                        <i class="fa fa-user-times"></i></a>
                                    <a class="btn btn-item-group btn-sm btn-warning" href="{% url 'rrhh:funcionario__trasladar' c.pk %}" data-toggle="tooltip" data-placement="top" title="Trasladar">
                                        <i class="fa fa-send"></i></a>
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="card-footer">
        <div align="center">
            {% bootstrap_paginate page_obj range=5 %}
        </div>
    </div>

</div>

{% endblock content  %}
