{% extends 'base/base.html' %}
{% load staticfiles crispy_forms_tags %}

{% block title_page %}
    Contrato - Crear
{% endblock %}

{% block title %}
    Crear Contrato
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Suite AAGE</a></li>
    <li class="breadcrumb-item"><a href="{% url 'rrhh:home_rrhh' %}">Recursos Humanos</a></li>
    <li class="breadcrumb-item"><a href="{% url 'rrhh:contratos' %}">Contratos</a></li>
    <li class="breadcrumb-item active">Crear contrato</li>
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h5>Datos del contrato</h5>
    </div>
    <div class="card-body">

        <form class="form-horizontal" method="post">
            {% csrf_token %}
            {% crispy form %}
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <button type="submit" class="btn btn-outline-success">Guardar</button>
                    <a href="{% url 'rrhh:contratos' %}"
                    role="button" class="btn btn-outline-info">
                        Volver
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        function tipo_contrato(){
            let tipo = $(document).find('#id_tipo_contrato_chosen').find('a.chosen-single').find('span').html();
            if(tipo === 'Indefinido'){
                $(document).find('#div_id_fecha_termino').fadeOut();
                $(document).find('#id_fecha_termino').val('');
                $(document).find('#id_fecha_termino').attr('disabled', true);
                $(document).find('#div_id_reemplazando_licencia').fadeOut();
                // $(document).find('#id_reemplazando').val('');
                // $(document).find('#id_reemplazando').attr('disabled', true);
            }
            if(tipo === 'A plazo'){
                $(document).find('#div_id_fecha_termino').fadeIn();
                $(document).find('#id_fecha_termino').prop('disabled', false);
                $(document).find('#div_id_reemplazando_licencia').fadeOut();
                $(document).find('#id_reemplazando_licencia').trigger('liszt:updated');
            }
            if(tipo === 'Reemplazo'){
                $(document).find('#div_id_fecha_termino').fadeIn();
                $(document).find('#id_fecha_termino').prop('disabled', false);
                $(document).find('#div_id_reemplazando_licencia').fadeIn();
                // $(document).find('#id_reemplazando').prop('disabled', false);
            }
        }
        function salud(){
            let salud = $(document).find('#id_salud_chosen').find('a.chosen-single').find('span').html();
            if(salud === 'Fonasa'){
                $(document).find('#div_id_isapre').fadeOut();
                // $(document).find('#id_isapre').attr('disabled', true);
            }
            if(salud === 'Isapre'){
                $(document).find('#div_id_isapre').fadeIn();
                // $(document).find('#id_isapre').prop('disabled', false);
            }
        }
        $(function(){
            $(document).find('#div_id_fecha_termino').fadeOut();
            $(document).find('#id_fecha_termino').attr('disabled', true);
            $(document).find('#div_id_reemplazando_licencia').fadeOut();
            $(document).find('#id_reemplazando').attr('disabled', true);
            
            setTimeout(function(){
                tipo_contrato();
            }, 500);
            $(document).change('#id_tipo_contrato', function() {
                tipo_contrato();
            });
            $(document).change('#id_salud', function() {
                salud();
            });
        });
    </script>
{% endblock %}
