{% extends 'base/base.html' %}
{% load staticfiles %}
{% load bootstrap_pagination %}

{% block title_page %}
    Funciones
{% endblock %}

{% block title %}
    Funciones
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Suite AAGE</a></li>
    <li class="breadcrumb-item active">Administración de Funciones</li>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h5>Tabla para configuración de Función
                <a class="btn btn-sm btn-outline-primary float-right" href="{% url 'gestion:funcion__nuevo'%}" role="button">
                    <span><i class="uil-plus"></i> Crear Función</span>
                </a>
            </h5>

        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th><i class="uil-user-exclamation"></i> Nombre </th>
                        <th><i class="uil-user-hard-hat"></i> Tipo de función </th>
                        <th><i class="uil-document-layout-left"></i> Descripción </th>
                        <th><i class="mdi mdi-cogs"></i> Opciones </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for f in object_list %}
                        <tr>
                            <td><a href="{% url 'gestion:funcion' f.pk %}"> {{ f.nombre }} </a></td>
                            <td> {{ f.get_tipo_display }} </td>
                            <td> {% if f.descripcion %}{{ f.descripcion|truncatewords:"7" }}{% else %}No específicado{% endif %} </td>
                            <td>
                                <a class="btn btn-outline-primary" href="{% url 'gestion:funcion__editar' f.pk %}" data-toggle="tooltip" data-placement="top" title="Editar"><i class="uil-edit"></i></a>
                                <a class="btn btn-outline-danger" href="#" data-toggle="modal" data-target="#eliminar_funcion_{{f.pk}}"><i class="uil-trash-alt" data-toggle="tooltip" data-placement="top" title="eliminar"></i></a>
                            </td>
                        </tr>
                        <div class="modal" tabindex="-1" role="dialog" id="eliminar_funcion_{{f.pk}}">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title alert alert-warning bg-white text-warning"><strong>¡Alerta!</strong> Está a punto de eliminar una función</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Está seguro que desea eliminar la Función "{{ f }}"?.</p>
                                        <p class="text-muted">Recuerde que eliminará todos los registros asociados a esta Función.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a role="button" class="btn btn-outline-danger" href="{% url 'gestion:funcion__eliminar' f.pk %}">Eliminar</a>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card-footer">
            <div>
                {% bootstrap_paginate page_obj range=5 %}
            </div>
        </div>

    </div>

{% endblock content  %}
