{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title_page %}
    Profesor - Detalle
{% endblock %}

{% block content %}

<div class="card">
    <div class="card-header">
      <h4 class="card-title"><strong> {{ object.nombre }}</strong>
          {% block buttons %}
              <div class="btn-group pull-right">
                  <a href="{% url 'carga-horaria:profesores' %}" type="button" class="btn btn-sm btn-dark">
                      <i class="fa fa-arrow-left"></i>
                  </a>
                  <a href="{% url 'carga-horaria:profesor__editar' object.pk %}" type="button" class="btn btn-sm btn-primary">
                      <i class="fa fa-edit"></i>
                  </a>
                  <a class="btn btn-sm btn-danger" href="#" data-toggle="modal" data-target="#eliminar_profesor_{{object.pk}}">
                      <i class="fa fa-trash"></i>
                  </a>
              </div>
          {% endblock %}
        </h4>
      <h6 class="card-subtitle mb-2 text-muted">Especialidad: <strong>{{ profesor.especialidad|default:"Ninguna" }}</strong></h6>

    </div>
    <div class="card-body">

	        <div class="row">
		  <div class="col-md-6">
		    <table class="table table-hover table-sm">
                <thead>
                <tr>
                    <th colspan="4" class="table-info">
                <span>
                    <i class="fa fa-info-circle"></i>
		    Asignaciones Plan de Estudio
                </span>
                    </th>
                </tr>
		<tr>
		  <th>Asignatura</th>
		  <th>Curso</th>
		  <th>Horas</th>
		  <th>Acciones</th>
		</tr>
                </thead>
                <tbody>
		    {% for ax in object.asignacion_set.all.plan %}
                    <tr>
                      <td> {{ ax.asignatura }} </td>
                      <td> {{ ax.asignatura.periodo }} </td>
                      <td> {{ ax.horas }} </td>
		      <td>
                        <a class="btn btn-sm btn-primary" href="{% url 'carga-horaria:asignacion__editar' ax.pk %}" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fa fa-edit"></i></a>
                        <a class="btn btn-sm btn-danger" href="#" data-toggle="modal" data-target="#eliminar_asignacion_{{ax.pk}}"><i class="fa fa-trash"></i></a>
			
		      </td>
                    </tr>
		    <div class="modal" tabindex="-1" role="dialog" id="eliminar_asignacion_{{ax.pk}}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"><strong style="color:red;">¡Alerta!</strong> Está a punto de eliminar una asignación</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>¿Está seguro que desea eliminar {{ ax.horas }} horas de {{ ax.asignatura }} para {{ ax.profesor }}?.</p>
                                <p class="text-muted">Recuerde que eliminará todos los registros asociados a esta asignación.</p>
                            </div>
                            <div class="modal-footer">
                                <a role="button" class="btn btn-danger" href="{% url 'carga-horaria:asignacion__eliminar' ax.pk %}">Eliminar</a>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>    
                </div>
		    {% endfor %}
                </tbody>
		    </table>


		    		    <table class="table table-hover table-sm">
                <thead>
                <tr>
                    <th colspan="4" class="table-info">
                <span>
                    <i class="fa fa-info-circle"></i>
		    Asignaciones SEP
                </span>

		{% if object.horas_disponibles > 0 %}
		<a class="btn btn-sm btn-primary float-right" href="{% url 'carga-horaria:asignar-fua' object.pk 2 %}" role="button">
                  <i class="fa fa-plus"></i>
		</a>
		{% endif %}

                    </th>
                </tr>
		<tr>
		  <th>Descripción</th>
		  <th>Curso</th>
		  <th>Horas</th>
		  <th>Acciones</th>
		</tr>
                </thead>
                <tbody>
		    {% for ax in object.asignacion_set.all.sep %}
                    <tr>
                      <td> {{ ax.descripcion }} </td>
                      <td> {{ ax.curso|default:"Todos" }} </td>
                      <td> {{ ax.horas }} </td>
		      <td>
                        <a class="btn btn-sm btn-primary" href="{% url 'carga-horaria:asignacion__editar' ax.pk %}" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fa fa-edit"></i></a>
                        <a class="btn btn-sm btn-danger" href="#" data-toggle="modal" data-target="#eliminar_asignacion_{{ax.pk}}"><i class="fa fa-trash"></i></a>
			
		      </td>
                    </tr>
		    <div class="modal" tabindex="-1" role="dialog" id="eliminar_asignacion_{{ax.pk}}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"><strong style="color:red;">¡Alerta!</strong> Está a punto de eliminar una asignación</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>¿Está seguro que desea eliminar {{ ax.horas }} horas de {{ ax.descripcion }} para {{ ax.profesor }}?.</p>
                                <p class="text-muted">Recuerde que eliminará todos los registros asociados a esta asignación.</p>
                            </div>
                            <div class="modal-footer">
                                <a role="button" class="btn btn-danger" href="{% url 'carga-horaria:asignacion__eliminar' ax.pk %}">Eliminar</a>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>    
                </div>
		    {% endfor %}
                </tbody>
				    </table>


				    		    <table class="table table-hover table-sm">
                <thead>
                <tr>
                    <th colspan="4" class="table-info">
                <span>
                    <i class="fa fa-info-circle"></i>
		    Asignaciones PIE
                </span>

		{% if object.horas_disponibles > 0 %}
		<a class="btn btn-sm btn-primary float-right" href="{% url 'carga-horaria:asignar-fua' object.pk 3 %}" role="button">
                  <i class="fa fa-plus"></i>
		</a>
		{% endif %}

                    </th>
                </tr>
		<tr>
		  <th>Descripción</th>
		  <th>Curso</th>
		  <th>Horas</th>
		  <th>Acciones</th>
		</tr>
                </thead>
                <tbody>
		    {% for ax in object.asignacion_set.all.pie %}
                    <tr>
                      <td> {{ ax.descripcion }} </td>
                      <td> {{ ax.curso|default:"Todos" }} </td>
                      <td> {{ ax.horas }} </td>
		      <td>
                        <a class="btn btn-sm btn-primary" href="{% url 'carga-horaria:asignacion__editar' ax.pk %}" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fa fa-edit"></i></a>
                        <a class="btn btn-sm btn-danger" href="#" data-toggle="modal" data-target="#eliminar_asignacion_{{ax.pk}}"><i class="fa fa-trash"></i></a>
			
		      </td>
                    </tr>
		    <div class="modal" tabindex="-1" role="dialog" id="eliminar_asignacion_{{ax.pk}}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"><strong style="color:red;">¡Alerta!</strong> Está a punto de eliminar una asignación</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>¿Está seguro que desea eliminar {{ ax.horas }} horas de {{ ax.descripcion }} para {{ ax.profesor }}?.</p>
                                <p class="text-muted">Recuerde que eliminará todos los registros asociados a esta asignación.</p>
                            </div>
                            <div class="modal-footer">
                                <a role="button" class="btn btn-danger" href="{% url 'carga-horaria:asignacion__eliminar' ax.pk %}">Eliminar</a>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>    
                </div>
		    {% endfor %}
                </tbody>
						    </table>



				    		    <table class="table table-hover table-sm">
                <thead>
                <tr>
                    <th colspan="4" class="table-info">
                <span>
                    <i class="fa fa-info-circle"></i>
		    Asignaciones sostenedor
                </span>

		{% if object.horas_disponibles > 0 %}
		<a class="btn btn-sm btn-primary float-right" href="{% url 'carga-horaria:asignar-fua' object.pk 4 %}" role="button">
                  <i class="fa fa-plus"></i>
		</a>
		{% endif %}


                    </th>
                </tr>
		<tr>
		  <th>Descripción</th>
		  <th>Curso</th>
		  <th>Horas</th>
		  <th>Acciones</th>
		</tr>
                </thead>
                <tbody>
		    {% for ax in object.asignacion_set.all.sostenedor %}
                    <tr>
                      <td> {{ ax.descripcion }} </td>
                      <td> {{ ax.curso|default:"Todos" }} </td>
                      <td> {{ ax.horas }} </td>
		      <td>
                        <a class="btn btn-sm btn-primary" href="{% url 'carga-horaria:asignacion__editar' ax.pk %}" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fa fa-edit"></i></a>
                        <a class="btn btn-sm btn-danger" href="#" data-toggle="modal" data-target="#eliminar_asignacion_{{ax.pk}}"><i class="fa fa-trash"></i></a>
			
		      </td>
                    </tr>
		    <div class="modal" tabindex="-1" role="dialog" id="eliminar_asignacion_{{ax.pk}}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"><strong style="color:red;">¡Alerta!</strong> Está a punto de eliminar una asignación</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>¿Está seguro que desea eliminar {{ ax.horas }} horas de {{ ax.descripcion }} para {{ ax.profesor }}?.</p>
                                <p class="text-muted">Recuerde que eliminará todos los registros asociados a esta asignación.</p>
                            </div>
                            <div class="modal-footer">
                                <a role="button" class="btn btn-danger" href="{% url 'carga-horaria:asignacion__eliminar' ax.pk %}">Eliminar</a>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>    
                </div>
		    {% endfor %}
                </tbody>
						    </table>

						    
						    
        </div>
        <div class="col-md-6">
            <table class="table table-hover table-sm">
                <thead>
                <tr>
                    <th colspan="4" class="table-info">
                <span>
                    <i class="fa fa-info-circle"></i>
		    Asignaciones No Lectivas 
                </span>

		{% if object.horas_no_lectivas_disponibles > 0 %}
		<a class="btn btn-sm btn-primary float-right" href="{% url 'carga-horaria:asignar-extra' object.pk %}" role="button">
                  <i class="fa fa-plus"></i>
		</a>
		{% endif %}

                    </th>
                </tr>
		<tr>
		  <th>Descripción</th>
		  <th>Curso</th>
		  <th>Horas</th>
		  <th>Acciones</th>
		</tr>
                </thead>
                <tbody>
                    <tr>
                      <td>Planificación</td>
                      <td>Todos</td>
                      <td>{{ object.horas_planificacion }}</td>
		      <td>
		      </td>
                    </tr>
		    {% for ax in object.asignacionextra_set.all %}
                    <tr>
                      <td> {{ ax.descripcion }} </td>
                      <td> {{ ax.curso|default:"Todos" }} </td>
                      <td> {{ ax.horas }} </td>
		      <td>
                        <a class="btn btn-sm btn-danger" href="#" data-toggle="modal" data-target="#eliminar_asignacion_extra_{{ax.pk}}"><i class="fa fa-trash"></i></a>
			
		      </td>
                    </tr>
		    <div class="modal" tabindex="-1" role="dialog" id="eliminar_asignacion_extra_{{ax.pk}}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"><strong style="color:red;">¡Alerta!</strong> Está a punto de eliminar una asignación extra</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>¿Está seguro que desea eliminar esta asignación extra?.</p>
                                <p class="text-muted">Recuerde que eliminará todos los registros asociados a esta asignación.</p>
                            </div>
                            <div class="modal-footer">
                                <a role="button" class="btn btn-danger" href="{% url 'carga-horaria:asignacion-extra__eliminar' ax.pk %}">Eliminar</a>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>    
                </div>
		    {% endfor %}
                </tbody>
            </table>


            <table class="table table-hover table-sm">
                <thead>
                <tr>
                    <th colspan="4" class="table-info">
                <span>
                    <i class="fa fa-info-circle"></i>
		    Asignaciones No Aula
                </span>

		{% if object.horas_no_aula_disponibles > 0 %}
		<a class="btn btn-sm btn-primary float-right" href="{% url 'carga-horaria:asignar-no-aula' object.pk %}" role="button">
                  <i class="fa fa-plus"></i>
		</a>
		{% endif %}

                    </th>
                </tr>
		<tr>
		  <th>Descripción</th>
		  <th>Curso</th>
		  <th>Horas</th>
		  <th>Acciones</th>
		</tr>
                </thead>
                <tbody>
		    {% for ax in object.asignacionnoaula_set.all %}
                    <tr>
                      <td> {{ ax.descripcion }} </td>
                      <td> {{ ax.curso|default:"Todos" }} </td>
                      <td> {{ ax.horas }} </td>
		      <td>
                        <a class="btn btn-sm btn-danger" href="#" data-toggle="modal" data-target="#eliminar_asignacion_no_aula_{{ax.pk}}"><i class="fa fa-trash"></i></a>
			
		      </td>
                    </tr>
		    <div class="modal" tabindex="-1" role="dialog" id="eliminar_asignacion_no_aula_{{ax.pk}}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"><strong style="color:red;">¡Alerta!</strong> Está a punto de eliminar una asignación no aula</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>¿Está seguro que desea eliminar esta asignación no aula?.</p>
                                <p class="text-muted">Recuerde que eliminará todos los registros asociados a esta asignación.</p>
                            </div>
                            <div class="modal-footer">
                                <a role="button" class="btn btn-danger" href="{% url 'carga-horaria:asignacion-no-aula__eliminar' ax.pk %}">Eliminar</a>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>    
                </div>
		    {% endfor %}
                </tbody>
            </table>



            <table class="table table-hover table-sm">
                <thead>
                <tr>
                    <th colspan="2" class="table-info">
                <span>
                    <i class="fa fa-info-circle"></i>
                     Resumen Horas
                </span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th> Horas contratadas </th>
                    <td> {{ object.horas }}  </td>
                </tr>
                <tr>
                    <th> Horas docentes </th>
                    <td> {{ object.horas_docentes }}  </td>
                </tr>
                <tr>
                    <th> Horas lectivas </th>
                    <td> {{ object.horas_lectivas }}  </td>
                </tr>
                <tr>
                    <th> Horas recreo </th>
                    <td> {{ object.horas_recreo }}  </td>
                </tr>                <tr>
                    <th> Horas no lectivas </th>
                    <td> {{ object.horas_no_lectivas }}  </td>
                </tr>
                <tr>
                    <th> Horas docentes asignadas </th>
                    <td> {{ object.horas_asignadas }}  </td>
                </tr>
                <tr>
                    <th> Horas docentes disponibles </th>
                    <td> {{ object.horas_disponibles }}  </td>
                </tr>
                <tr>
                    <th> Horas no lectivas asignadas </th>
                    <td> {{ object.horas_no_lectivas_asignadas }}  </td>
                </tr>
                <tr>
                    <th> Horas no lectivas disponibles </th>
                    <td> {{ object.horas_no_lectivas_disponibles }}  </td>
                </tr>
                <tr>
                    <th> Horas contratadas no aula </th>
                    <td> {{ object.horas_no_aula }}  </td>
                </tr>
                <tr>
                    <th> Horas contratadas no aula asignadas </th>
                    <td> {{ object.horas_no_aula_asignadas }}  </td>
                </tr>
                <tr>
                    <th> Horas contratadas no aula disponibles </th>
                    <td> {{ object.horas_no_aula_disponibles }}  </td>
                </tr>
                <!--
                <tr>
                    <td colspan="2">
                        <small class="text-muted">
                            Creado: {{ object.creado_en }}
                            <br>
                            Modificado: {{ object.modificado_en }}
                        </small>
                    </td>
                </tr>
                -->
                </tbody>
            </table>

        </div>
		</div>


		<div class="row">
		  <div class="col-md-6">
		  </div>
	</div>

    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="eliminar_profesor_{{object.pk}}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><strong style="color:red;">¡Alerta!</strong> Está a punto de eliminar un Profesor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Está seguro que desea eliminar el profesor "{{ object.nombre }}"?.</p>
                <p class="text-muted">Recuerde que eliminará todos los registros asociados a este profesor.</p>
            </div>
            <div class="modal-footer">
                <a role="button" class="btn btn-danger" href="{% url 'carga-horaria:profesor__eliminar' object.pk %}">Eliminar</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
