{% extends 'base/base.html' %}
{% load staticfiles %}
{% load bootstrap_pagination %}

{% block title_page %}
    Profesores
{% endblock %}

{% block title %}
    Profesores
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Suite AAGE</a></li>
    <li class="breadcrumb-item"><a href="{% url 'carga-horaria:home' %}">Carga Horaria</a></li>
    <li class="breadcrumb-item active">Profesor</li>
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Profesores
          <a class="btn btn-outline-primary float-right" href="{% url 'carga-horaria:profesor__nuevo'%}" role="button">
	    <span>
	      Crear Profesor
              <i class="uil-plus"></i>
	    </span>
            </a>
        </h4>
        <br>
        <class class="card-subtitle mb-2 text-muted">
          <a class="btn btn-outline-default" href="{% url 'carga-horaria:profesores-info' %}"><i class="uil-cloud-download"></i> Descargar información Profesores</a>
        </class>
        <span style="float: right;">
            <class style="text-align: right;" class="card-subtitle mb-2 text-muted">
                <a class="btn btn-outline-default" href="{% url 'carga-horaria:profesor__anexos' %}"><i class="uil-file-upload-alt"></i> Generar Anexo 1 Masivo</a>
                <a class="btn btn-outline-default" href="{% url 'carga-horaria:profesores-pdf' %}"><i class="uil-print"></i> Imprimir</a>
            </class>
        </span>
    </div>
    <div class="row">
      <div class="col-2">
        <form action="." method="GET">
          <i class="uil-search"></i> <input name="q" placeholder="Buscar" value="{{ request.GET.q }}">{% if 'q' in request.GET %} <a href="{% url 'carga-horaria:profesores' %}" class="text-muted">limpiar</a>{% endif %}
        </form>
      </div>
      <!--<div class="col-1">
          <div class="btn-group">
            <label><input type="checkbox" id="cbox1" value="profesor_jefe"> Profesor jefe</label>
        </div>
      </div>
      <div class="col-1">
        <label><input type="checkbox" id="cbox2" value="adventista"> Adventista</label>
      </div>  
      <div class="col-2">
        <form action=".">Título: 
            <select name="titulo">
                <option value="1">Licenciado Sociales</option>
                <option value="2">Licenciado Ciencias</option>
                <option value="3">Licenciado Español</option>
                <option value="4">Licenciado Artes</option>
                <option value="5">Licenciado Matemáticas</option>
            </select>
        </form>
      </div>
      <div class="col-2">
        <form action=".">Tipo de Contrato: 
            <select name="tipo">
                <option value="1">Todos</option>
                <option value="2">Indefinido</option>
                <option value="3">Plazo fijo</option>
                <option value="3">Reemplazo</option>
            </select>
        </form>
      </div>
      <div class="col-2">
        <form action=".">Carga: 
            <select name="titulo">
                <option value="1">Todos</option>
                <option value="2">100% = que contrato</option>
                <option value="3">> que contrato</option>
                <option value="4">> menor que contrato</option>
            </select>
        </form>
      </div>
      <div class="col-2">
        <form action=".">Dif. año anterior: 
            <select name="titulo">
                <option value="1">Todos</option>
                <option value="2">Iguales</option>
                <option value="3">Aumenta</option>
                <option value="4">Disminuye</option>
            </select>
        </form>
      </div>
    </div>-->
        <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr style="text-align: center;">
                <th><i class="uil-user"></i> Nombre </th>
                <!--<th><i class="uil-user"></i> Cargo </th>-->
                <th><i class="uil-clock-seven"></i> Hrs. contrato</th>
                <th><i class="uil-clock-eight"></i> Hrs. S.G.</th>
                <th><i class="uil-clock-two"></i> Hrs. S.E.P.</th>
                <th><i class="uil-clock-five"></i> Hrs. P.I.E.</th>
                <th>Total Actual</th>
                <th>Total Año Ant.</th>
                <th>Diferencias</th>
            </tr>
            </thead>
            <tbody>
            {% for p in object_list %}
                <tr style="text-align: center;">
                    <td><a href="{% url 'carga-horaria:profesor' p.pk %}"> {{ p.nombre }} </a></td>
                    <!--<td> {{ p.cargo }} </td>-->
                    <td> {{ p.horas_contratadas }} </td>
                    <td> {{ p.horas_docentes }} </td>
                    <td> {{ p.horas_sg }} </td>
                    <td> {{ p.horas_sep }} </td>
                    <td> {{ p.horas_pie }} </td>
                    <td> {{ p.horas_total}} </td>
                    <td> {{ p.horas_total_anterior }} </td>
                    <td>
                        <a class="btn btn-outline-success" href="{% url 'carga-horaria:profesor__anexo' p.pk %}" data-toggle="tooltip" data-placement="top" title="Generar Anexo 1"><i class="uil-file-upload-alt"></i></a>
                        <a class="btn btn-outline-primary" href="{% url 'carga-horaria:profesor__editar' p.pk %}" data-toggle="tooltip" data-placement="top" title="Editar"><i class="uil-edit"></i></a>
                        <a class="btn btn-outline-danger" href="#" data-toggle="modal" data-target="#eliminar_profesor_{{p.pk}}"><i class="uil-trash"></i></a>
                    </td>
                </tr>
                <div class="modal" tabindex="-1" role="dialog" id="eliminar_profesor_{{p.pk}}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"><strong style="color:red;">¡Alerta!</strong> Está a punto de eliminar un Profesor</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Está seguro que desea eliminar el profesor "{{ p.nombre }}"?.</p>
                                <p class="text-muted">Recuerde que eliminará todos los registros asociados a este profesor.</p>
                            </div>
                            <div class="modal-footer">
                                <a role="button" class="btn btn-outline-danger" href="{% url 'carga-horaria:profesor__eliminar' p.pk %}">Eliminar</a>
                                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </tbody>
        </table>
    </div>

    </div>

                    <div class="card-footer">
                    <div align="center">
                        {% bootstrap_paginate page_obj range=5 %}
                    </div>
                </div>

</div>

{% endblock content  %}
