{% extends 'base/base.html' %}
{% load staticfiles crispy_forms_tags %}

{% block title_page %}
    Usuario - {% if object %}Editar{% else %}Crear{% endif %}
{% endblock %}

{% block title %}
    {% if object %}Editar{% else %}Crear{% endif %} Usuario
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Suite AAGE</a></li>
    <li class="breadcrumb-item"><a href="{% url 'gestion:usuarios' %}">Ususarios</a></li>
    <li class="breadcrumb-item active">{% if object %}Editar{% else %}Crear{% endif %} Usuario</li>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h4>Datos de Usuario</h4>
        </div>

        <div class="card-body">
            <form method="post" action="{% url 'gestion:change_password' usuario.id %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="exampleInputPassword1">Contraseña nueva</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="password1" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Repita contraseña</label>
                    <input type="password" class="form-control" id="exampleInputPassword2" name="password2" placeholder="Password">
                </div>
                <div class="text-center">
                    <div class="btn-group">
                        <a href="{{ request.META.HTTP_REFERER }}"
                           class="btn btn-dark">
                            <i class="fa fa-arrow-left"></i>
                            volver
                        </a>
                        <button type='submit' class='btn btn-info'>
                            <i class='fa fa-save'></i>
                            Cambiar contraseña
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}