{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title_page %}
    Curso - Detalle
{% endblock %}

{% block content %}

<div class="card">
    <div class="card-header">
      <h4 class="card-title">Curso: <strong> {{ object }} </strong>
        
        {% block buttons %}
            <div class="btn-group pull-right">
                <a href="{% url 'carga-horaria:periodos' %}" type="button" class="btn btn-sm btn-dark">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a href="{% url 'carga-horaria:periodo__editar' object.pk %}" type="button" class="btn btn-sm btn-primary">
                      <i class="fa fa-edit"></i>
                  </a>
                  <a class="btn btn-sm btn-danger" href="#" data-toggle="modal" data-target="#eliminar_periodo_{{object.pk}}">
                      <i class="fa fa-trash"></i>
                  </a>
            </div>
        {% endblock %}
        </h4>
	<div class="progress">
	  <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:{{ object.completion_percentage }}%;">
	    {{ object.completion_percentage }}%
	  </div>
	</div>
    </div>

        <div class="card-body">
        <div class="row">
        <div class="col-md-12">
      <div class="pull-right" style="padding-bottom: 10px;">
        <a class="btn btn-sm btn-default" href="{% url 'carga-horaria:periodo-pdf' pk=object.pk %}"><i class="fa fa-print"></i> Imprimir</a>
      </div>
            <table class="table table-hover table-sm">
                <thead>
                <tr>
                    <th colspan="6" class="table-info">
                <span>
                    <i class="fa fa-info-circle"></i>
		    Asignaturas
                </span>

		<a class="btn btn-sm btn-warning float-right" style="margin-left: 20px;" href="{% url 'carga-horaria:asignatura__nuevo' object.pk %}" role="button">
		  <span>
		    Crear Asignatura
                    <i class="fa fa-plus"></i>
		  </span>
		</a>

		<a class="btn btn-sm btn-info float-right" href="{% url 'carga-horaria:asignatura_dif__nuevo' object.pk %}" role="button">
		  <span>
		    Crear Asignatura Plan Diferenciado
                    <i class="fa fa-plus"></i>
		  </span>
		</a>

                    </th>
                </tr>
		<tr>
		  <th>Nombre</th>
		  <th>Horas Requeridas</th>
		  <th>Horas Asignadas</th>
		  <th>Horas Sin Asignar</th>
		  <th>Profesores</th>
		  <th>Acciones</th>
		</tr>
                </thead>
                <tbody>
		  {% for a in object.asignatura_set.all.base %}
                  <tr{% if a.horas_disponibles == 0 %} class="table-success"{% else %} class="table-warning"{% endif %}>
                  <td>  <a href="{% url 'carga-horaria:asignatura' a.pk %}">{{ a }} </a> </td>
                    <td>  {{ a.horas }}  </td>
                    <td>  {{ a.horas_asignadas }}  </td>
                    <td>  {{ a.horas_disponibles }}  </td>
                    <td>  {% for p in a.profesores %}<a href="{% url 'carga-horaria:profesor' p.pk %}">{{ p }} ({{ p.horas_disponibles }}) </a>{% endfor %}  </td>
                  <td>  {% if not a.completa %}<a href="{% url 'carga-horaria:asignar' a.pk %}">Asignar</a>{% if not a.base %} | {% endif %}{% endif %}{% if not a.base %}<a class="btn btn-sm btn-danger" href="{% url 'carga-horaria:asignatura__eliminar' a.pk %}?periodo={{ object.pk }}" onclick="return confirm('¿Está seguro de eliminar {{ a }}?')">
                      <i class="fa fa-trash"></i>
                    </a>{% endif %}
		  </td>
                  </tr>
		{% endfor %}
                {% for a in object.asignatura_set.all.custom %}
                  <tr{% if a.horas_disponibles == 0 %} class="table-success"{% else %} style="background-color: #ffbfb878;"{% endif %}>
                  <td>  <a href="{% url 'carga-horaria:asignatura' a.pk %}">{{ a }} </a> </td>
                    <td>  {{ a.horas }}  </td>
                    <td>  {{ a.horas_asignadas }}  </td>
                    <td>  {{ a.horas_disponibles }}  </td>
                    <td>  {% for p in a.profesores %}<a href="{% url 'carga-horaria:profesor' p.pk %}">{{ p }} ({{ p.horas_disponibles }}) </a>{% endfor %}  </td>
                  <td>  {% if not a.completa %}<a href="{% url 'carga-horaria:asignar' a.pk %}">Asignar</a>{% if not a.base %} | {% endif %}{% endif %}{% if not a.base %}<a class="btn btn-sm btn-danger" href="{% url 'carga-horaria:asignatura__eliminar' a.pk %}?periodo={{ object.pk }}" onclick="return confirm('¿Está seguro de eliminar {{ a }}?')">
                      <i class="fa fa-trash"></i>
                    </a>{% endif %}
		  </td>
                  </tr>
		{% endfor %}		  <tr>
		    <td colspan="3">
		    <td colspan="2">Subtotal tiempo mínimo</td>
		    <td>{{ object.floor }}</td>
		  </tr>
		  <tr>
		    <td colspan="3">
		    <td colspan="2">Horas de libre disposición</td>
		    <td>{{ object.horas }}</td>
		  </tr>
		  {% if object.horas_dif > 0 %}
		  <tr>
		    <td colspan="3">
		    <td colspan="2">Horas Educación Diferenciada</td>
		    <td>{{ object.horas_dif }}</td>
		  </tr>
		  {% endif %}
		  <tr>
		    <td colspan="3">
		    <td colspan="2">Total tiempo mínimo</td>
		    <td>{{ object.ceiling }}</td>
		  </tr>
		  <tr>
		    <td colspan="3">
		    <td colspan="2">Total actual</td>
		    <td>{{ object.progress }}</td>
		  </tr>
                </tbody>
            </table>
        </div>
    </div>
	</div>

</div>

<div class="modal" tabindex="-1" role="dialog" id="eliminar_periodo_{{object.pk}}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><strong style="color:red;">¡Alerta!</strong> Está a punto de eliminar un curso</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Está seguro que desea eliminar el curso "{{ object.nombre }}"?.</p>
                <p class="text-muted">Recuerde que eliminará todos los registros asociados a este curso.</p>
            </div>
            <div class="modal-footer">
                <a role="button" class="btn btn-danger" href="{% url 'carga-horaria:periodo__eliminar' object.pk %}">Eliminar</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>



{% endblock content %}
