{% extends 'base/base.html' %}
{% load humanize %}
{% load staticfiles %}
{% load carga_filters %}

{% block title_page %}
    Curso - Detalle
{% endblock %}

{% block title %}
  Curso - Detalle
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Suite AAGE</a></li>
    <li class="breadcrumb-item"><a href="{% url 'carga-horaria:home' %}">Carga Horaria</a></li>
    <li class="breadcrumb-item"><a href="{% url 'carga-horaria:periodos' %}">Cursos</a></li>
    <li class="breadcrumb-item active">Curso - Detalle</li>
{% endblock %}

{% block content %}

<div class="card">
    <div class="card-header">
      <h4 class="card-title">Curso: <strong> {{ object }} </strong>
        {% if object.profesor_jefe %}
        <h6 class="card-subtitle mb-2">        <strong>Profesor Jefe: </strong>{{ object.profesor_jefe }}
</h6>
        {% endif %}
        
        {% block buttons %}
            <div class="btn-group float-right">
                <a href="{% url 'carga-horaria:periodos' %}" type="button" class="btn btn-outline-dark" data-toggle="tooltip" data-placement="top" title="Volver">
                    <i class="uil-arrow-left"></i>
                </a>
                <a href="{% url 'carga-horaria:periodo__editar' object.pk %}" type="button" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Editar">
                      <i class="uil-edit"></i>
                </a>
                {% if request.user.is_superuser %}
                  <a class="btn btn-outline-danger" href="#" data-toggle="modal" data-target="#eliminar_periodo_{{object.pk}}" title="Eliminar">
                      <i class="uil-trash"></i>
                  </a>
                  {% endif %}
            </div>
        {% endblock %}
        </h4>
	<div class="progress">
	  <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:{{ object.completion_percentage }}%;">
	    {{ object.completion_percentage }}%
	  </div>
	</div>
    </div>

        <div class="card-body">
        <div class="row">
        <div class="col-md-12">
      <div class="float-right" style="padding-bottom: 10px;">
        <a class="btn btn-outline-default" href="{% url 'carga-horaria:periodo-pdf' pk=object.pk %}"><i class="uil-print"></i> Imprimir</a>
      </div>
            <table class="table table-hover table-sm">
                <thead>
                <tr>
                    <th colspan="6" class="table-info">
                <span>
                    <i class="uil-info-circle"></i>
		    Asignaturas
                </span>

		<a class="btn btn-outline-warning float-right" style="margin-left: 20px;" href="{% url 'carga-horaria:asignatura_maybe' object.pk %}" role="button">
		  <span>
		    Añadir Asignatura
                    <i class="uil-plus"></i>
		  </span>
		</a>

                {% if object.can_dif %}
		<a class="btn btn-outline-info float-right" href="{% url 'carga-horaria:asignatura_dif__nuevo' object.pk %}" role="button">
		  <span>
		    Crear Asignatura Plan Diferenciado
                    <i class="uil-plus"></i>
		  </span>
		</a>
                {% endif %}

                    </th>
                </tr>
		<tr>
		  <th>Nombre</th>
		  <th>Horas Requeridas</th>
		  <th>Horas Asignadas</th>
		  <th>Horas Sin Asignar</th>
		  <th>Profesores</th>
		  <th>Acciones</th>
		</tr>
                </thead>
                <tbody>
		  {% for a in object.asignatura_set.all.base %}
                  <tr{% if a.horas_disponibles == 0 %} class="table-success"{% else %} class="table-warning"{% endif %}>
                  <td>  <a href="{% url 'carga-horaria:asignatura' a.pk object.pk %}">{{ a }}  {% if a.co_docencia %} <span class="badge badge-warning">co-docencia</span>{% endif %} </a> </td>
                    <td>  {{ a.get_horas_display }}  </td>
                  <td>  {{ a.horas_asignadas|decimal_maybe }}</td>
                    <td>  {{ a.horas_disponibles|decimal_maybe }}  </td>
                    <td>  {% for p in a.profesores %}<a href="{% url 'carga-horaria:profesor' p.pk %}">{{ p }} ({{ p.horas_disponibles|decimal_maybe }}) </a>{% endfor %}  </td>
                  <td>  <a href="{% url 'carga-horaria:asignar' a.pk object.pk %}">Asignar</a>{% if not a.base %} | {% endif %}

                    {% if a.asignacion_set.count %}<a class="btn btn-outline-warning" href="{% url 'carga-horaria:asignatura__limpiar' a.pk object.pk %}">
                      <i class="uil-shutter"></i>
                    </a>{% endif %}
                    
                    {% if not a.base %}<a class="btn btn-outline-danger" href="{% url 'carga-horaria:asignatura__eliminar' a.pk object.pk %}" onclick="return confirm('¿Está seguro de eliminar {{ a }}?')">
                      <i class="uil-trash"></i>
                    </a>{% endif %}
		  </td>
                  </tr>
		{% endfor %}
                {% for a in object.asignatura_set.all.custom %}
                  <tr{% if a.horas_disponibles == 0 %} class="table-success"{% else %} style="background-color: #ffbfb878;"{% endif %}>
                  <td>  <a href="{% url 'carga-horaria:asignatura' a.pk object.pk %}">{{ a }} {% if a.co_docencia %} <span class="badge badge-warning">co-docencia</span>{% endif %}</a> </td>
                    <td>  {{ a.horas|decimal_maybe }}  </td>
                    <td>  {{ a.horas_asignadas|decimal_maybe }}  </td>
                    <td>  {{ a.horas_disponibles|decimal_maybe }}  </td>
                    <td>  {% for p in a.profesores %}<a href="{% url 'carga-horaria:profesor' p.pk %}">{{ p }} ({{ p.horas_disponibles|decimal_maybe }}) </a>{% endfor %}  </td>
                  <td>  <a href="{% url 'carga-horaria:asignar' a.pk object.pk %}">Asignar</a>{% if not a.base %} | {% endif %}{% if not a.base %}<a class="btn btn-outline-danger" href="{% url 'carga-horaria:asignatura__eliminar' a.pk object.pk %}" onclick="return confirm('¿Está seguro de eliminar {{ a }}?')">
                      <i class="uil-trash"></i>
                    </a>{% endif %}
		  </td>
                  </tr>
		{% endfor %}		  <tr>
		    <td colspan="3">
		    <td colspan="2">Subtotal tiempo mínimo</td>
		    <td>{{ object.floor|decimal_maybe }}</td>
		  </tr>
                  {% if object.horas %}
		  <tr>
		    <td colspan="3">
		    <td colspan="2">Horas de libre disposición</td>
		    <td style="color: #f00;">{{ object.used_ld_hours|decimal_maybe }} / {{ object.horas|decimal_maybe }}</td>
		  </tr>
                  {% endif %}
		  {% if object.horas_dif > 0 %}
		  <tr>
		    <td colspan="3">
		    <td colspan="2">Horas Educación Diferenciada</td>
		    <td>{{ object.horas_dif|decimal_maybe }}</td>
		  </tr>
		  {% endif %}
                  {% if object.horas_adicionales %}
		  <tr>
		    <td colspan="3">
		    <td colspan="2">Horas adicionales</td>
		    <td style="color: #f00;">{{ object.used_additional_hours|decimal_maybe }} / {{ object.horas_adicionales|decimal_maybe }}</td>
		  </tr>
                  {% endif %}
		  <tr>
		    <td colspan="3">
		    <td colspan="2">Total tiempo mínimo</td>
		    <td>{{ object.ceiling|decimal_maybe }}</td>
		  </tr>
		  <tr>
		    <td colspan="3">
		    <td colspan="2">Total actual</td>
		    <td>{{ object.progress|decimal_maybe }}</td>
		  </tr>
                </tbody>
            </table>

{% if request.user.is_superuser %}
       <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Actividad</th>
              <th>Fecha</th>
            </tr>
          </thead>
          <tbody>
            {% for activity in object.action_log %}
            <tr>    
              <td><span class="text-primary">{{ activity.user }}</span> {{ activity.action }} {% if activity.changes %}<strong>{{activity.changes|join:", "}}</strong>.{% else %} este curso.{% endif %}</td><td title="{{ activity.dt }}">{{ activity.dt|naturaltime }}</td>
            </tr> 
            {% endfor %}
          </tbody>
        </table>
{% endif %}

            
        </div>
    </div>
	</div>

</div>

<div class="modal" tabindex="-1" role="dialog" id="eliminar_periodo_{{object.pk}}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><strong style="color:red;">¡Alerta!</strong> Está a punto de eliminar un curso</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Está seguro que desea eliminar el curso "{{ object.nombre }}"?.</p>
                <p class="text-muted">Recuerde que eliminará todos los registros asociados a este curso.</p>
            </div>
            <div class="modal-footer">
                <a role="button" class="btn btn-outline-danger" href="{% url 'carga-horaria:periodo__eliminar' object.pk %}">Eliminar</a>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>



{% endblock content %}
