{% extends 'base/base.html' %}

{% block title_page %}
    Periodos
{% endblock %}

{% block title %}
    {{ icono|safe }} Listado de Periodos
{% endblock %}

{% block button_new %}
    {% if request.user.usuariofuncion.es_dirplac_or_admin %}
        <a href="{% url 'ciclos:periodo__nuevo' %}" class="btn btn-primary pull-right">
            <i class="fa fa-plus"></i>
            Nuevo
        </a>
    {% endif %}
{% endblock %}

{% block subtitle %}
    Tabla para configuración de periodos utilizados en Ciclos de Calidad
{% endblock %}

{% block search_placeholder %}Buscar periodos...{% endblock %}

{% block content_list %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><i class="fa fa-calendar-check-o"></i> Nombre </th>
                <th><i class="fa fa-calendar-minus-o"></i> Año </th>
                <th><i class="fa fa-check-circle"></i> Activo </th>
                <th><i class="fa fa-cogs"></i> Acciones </th>
            </tr>
            </thead>
            <tbody>
            {% for p in object_list %}
                <tr {% if p.id == request.session.p_activo_pk %}class="bgm-yellow"{% endif %}>
                    <td><a href="{% url 'ciclos:periodo' p.pk %}">{{ p.nombre }}</a></td>
                    <td>{{p.anio}}</td>
                    <td>{% if p.activo %}
                        <span class="badge  badge-pill badge-warning">
                            <i class="fa fa-check"></i> Si
                        </span>
                    {% else %}
                        <span class="badge  badge-pill badge-info">
                            <i class="fa fa-close"></i> No
                        </span>
                    {% endif %}
                    </td>
                    <td>
                        {% if request.user.usuariofuncion.es_dirplac_or_admin and not request.user.usuariofuncion.es_dirplac_lectura %}
                            <a href="{% url 'ciclos:periodo__editar' p.pk %}" type="button"
                               class="btn-sm btn-primary"
                               data-toggle="tooltip" data-placement="top" title="Editar">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a href="{% url 'ciclos:periodo__eliminar' p.pk %}" type="button"
                               class="btn-sm btn-danger"
                               data-toggle="tooltip" data-placement="top" title="Eliminar">
                                <i class="fa fa-trash"></i>
                            </a>
                        {% endif %}
                        <a href="{% url 'ciclos:periodo__cambiar' p.pk %}" type="button"
                           class="btn-sm {% if p.activo %}btn-warning{% else %}btn-info{% endif %}"
                           data-toggle="tooltip" data-placement="top" title="Cambiar a Periodo">
                            <i class="fa fa-refresh"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
