{% extends 'base/base.html' %}
{% load staticfiles %}
{% load bootstrap_pagination %}

{% block title_page %}
    Cursos
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Cursos 
          <a class="btn btn-sm btn-primary pull-right" href="{% url 'carga-horaria:periodo__nuevo'%}" role="button">
	    <span>
	      Crear Curso
              <i class="fa fa-plus"></i>
	    </span>
            </a>
        </h4>
        <h6 class="card-subtitle mb-2 text-muted">Tabla para configuración de cursos</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><i class="fa fa-calendar-check-o"></i> Curso </th>
                <th><i class="fa fa-check-circle"></i> Plan </th>
                <th><i class="fa fa-cogs"></i> Acciones </th>
            </tr>
            </thead>
            <tbody>
            {% for p in object_list %}
                <tr>
                    <td><a href="{% url 'carga-horaria:periodo' p.pk %}">{{ p }}</a></td>
                    <td>{{ p.plan }}</td>
                    <td>
                        <a class="btn btn-sm btn-primary" href="{% url 'carga-horaria:periodo__editar' p.pk %}" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fa fa-edit"></i></a>
                        <a class="btn btn-sm btn-danger" href="#" data-toggle="modal" data-target="#eliminar_periodo_{{p.pk}}"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
                <div class="modal" tabindex="-1" role="dialog" id="eliminar_periodo_{{p.pk}}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"><strong style="color:red;">¡Alerta!</strong> Está a punto de eliminar un Curso</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Está seguro que desea eliminar el curso "{{p.nombre}}"?.</p>
                                <p class="text-muted">Recuerde que eliminará todos los registros asociados a este curso.</p>
                            </div>
                            <div class="modal-footer">
                                <a role="button" class="btn btn-danger" href="{% url 'carga-horaria:periodo__eliminar' p.pk %}">Eliminar</a>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>    
                </div>
            {% endfor %}
            </tbody>
        </table>
	</div>

    </div>
                    <div class="card-footer">
                    <div align="center">
                        {% bootstrap_paginate page_obj range=5 %}
                    </div>
                </div>

</div>

{% endblock content  %}
