{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title_page %}
    Error 403
{% endblock %}

{% block content %}

    <div class="error-page">
        <h2 class="headline text-info"> 403</h2>
        <img src="{% static 'base/img/sad.png' %}">
        <div class="error-content">
            <h3><i class="fa fa-warning text-yellow"></i> Oops! Página no encontrada.</h3>
            <p>
                El acceso a ésta página no cumple con sus permisos de Usuario.
                Mientras, puedes  <a href='/'>retornar a la pantalla de inicio</a>
            </p>
        </div><!-- /.error-content -->
    </div><!-- /.error-page -->

{% endblock %}