{% extends 'base/base.html' %}
{% load staticfiles crispy_forms_tags %}

{% block title_page %}
    Categira de Pregunta - {% if object %}Editar{% else %}Crear{% endif %}
{% endblock %}

{% block title %}
    {% if object %}Editar{% else %}Crear{% endif %} Categoria de Pregunta
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Suite AAGE</a></li>
    <li class="breadcrumb-item"><a href="{% url 'evado:home_evado' %}">Evaluación Docente</a></li>
    <li class="breadcrumb-item"><a href="{% url 'evado:categoria_pregunta_list' %}">Categorias de Preguntas</a></li>
    <li class="breadcrumb-item active">{% if object %}Editar{% else %}Crear{% endif %} Categoria de Pregunta</li>
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h5>Datos de Categoria de Pregunta</h5>
    </div>
    <div class="card-body">
        <form class="form-horizontal" method="post">
            {% csrf_token %}
            {% crispy form %}
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <button type="submit" class="btn btn-outline-success">Guardar</button>
                    <a href="{{ request.META.HTTP_REFERER }}"
                    role="button" class="btn btn-outline-info">
                        Volver
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
