{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title_page %}
    Recursos Humanos
{% endblock %}

{% block title %}
    Recursos Humanos
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Suite AAGE</a></li>
    <li class="breadcrumb-item active">Recursos Humanos</li>
{% endblock %}

{% block content %}
    {% if contratos_contratar or contratos_expirar or solicitudes_pendientes or contrataos_finiquitar %}
        <div class="row">
        <div class="col-md-8">
    {% endif %}
<div class="row text-center">
    <div class="col-md-3 text-center my-2">
        <a href="{% url 'rrhh:personas' %}" class="black">
            <i class="mdi mdi-account" style="font-size: 80px"></i>
            <h4 class="text-black-50 text-center">Personas</h4>
        </a>
    </div>
    <div class="col-md-3 text-center my-2">
        <a href="{% url 'rrhh:postulantes' %}">
            <i class="mdi mdi-account-check-outline" style="font-size: 80px"></i>
            <h4 class="text-black-50 text-center">Postulantes</h4>
        </a>
    </div>
    <div class="col-md-3 text-center my-2">
        <a href="{% url 'rrhh:contratos' %}">
            <i class="mdi mdi-account-group" style="font-size: 80px"></i>
            <h4 class="text-black-50 text-center">Colaboradores</h4>
        </a>
    </div>
    <div class="col-md-3 text-center my-2">
        <a href="{% url 'rrhh:permisos' %}">
            <i class="mdi mdi-certificate-outline" style="font-size: 80px"></i>
            <h4 class="text-black-50 text-center">Permisos</h4>
        </a>
    </div>
    <div class="col-md-3 text-center my-2">
        <a href="{% url 'rrhh:vacaciones' %}">
            <i class="dripicons-photo-group" style="font-size: 80px"></i>
            <h4 class="text-black-50 text-center">Vacaciones</h4>
        </a>
    </div>
    <div class="col-md-3 text-center my-2">
        <a href="{% url 'rrhh:licencias' %}">
            <i class="mdi mdi-asterisk" style="font-size: 80px"></i>
            <h4 class="text-black-50 text-center">Licencias</h4>
        </a>
    </div>
    <div class="col-md-3 text-center my-2">
        <a href="{% url 'rrhh:solicitudes' %}">
            <i class="mdi mdi-pencil" style="font-size: 80px"></i>
            <h4 class="text-black-50 text-center">Solicitudes</h4>
        </a>
    </div>
    <div class="col-md-3 text-center my-2">
        <a href="{% url 'rrhh:documentos' %}">
            <i class="mdi mdi-file-document" style="font-size: 80px"></i>
            <h4 class="text-black-50 text-center">Documentación Funcionarios</h4>
        </a>
    </div>
    <div class="col-md-3 text-center my-2">
        <a href="{% url 'rrhh:entrevistas' %}">
            <i class="mdi mdi-clipboard-account-outline" style="font-size: 80px"></i>
            <h4 class="text-black-50 text-center">Entrevistas</h4>
        </a>
    </div>
    {#    <div class="col-md-3">#}
    {#        <div class="card mx-md-4">#}
    {#            <a href="{% url 'rrhh:personas' %}">#}
    {#                <div class="card-body">#}
    {#                    <i class="mdi mdi-account" style="font-size: 80px"></i>#}
    {#                    <h5 class="text-muted font-weight-normal mt-0" title="New Leads">Personas</h5>#}
    {#                </div> <!-- end card-body -->#}
    {#            </a>#}
    {#        </div>#}
    {#    </div>#}
    {#    <div class="col-md-3">#}
    {#        <div class="card mx-md-4">#}
    {#            <a href="{% url 'rrhh:postulantes' %}">#}
    {#                <div class="card-body">#}
    {#                    <i class="mdi  mdi-account-check-outline" style="font-size: 80px"></i>#}
    {#                    <h5 class="text-muted font-weight-normal mt-0" title="New Leads">Postulantes</h5>#}
    {#                </div> <!-- end card-body -->#}
    {#            </a>#}
    {#        </div>#}
    {#    </div>#}
    {#    <div class="col-md-3">#}
    {#        <div class="card mx-md-4">#}
    {#            <a href="{% url 'rrhh:contratos' %}">#}
    {#                <div class="card-body">#}
    {#                    <i class="mdi mdi-account-group" style="font-size: 80px"></i>#}
    {#                    <h5 class="text-muted font-weight-normal mt-0" title="New Leads">Colaboradores</h5>#}
    {#                </div> <!-- end card-body -->#}
    {#            </a>#}
    {#        </div>#}
    {#    </div>#}
    {#    <div class="col-md-3">#}
    {#        <div class="card mx-md-4">#}
    {#            <a href="{% url 'rrhh:permisos' %}">#}
    {#                <div class="card-body">#}
    {#                    <i class="mdi mdi-certificate-outline" style="font-size: 80px"></i>#}
    {#                    <h5 class="text-muted font-weight-normal mt-0" title="New Leads">Permisos</h5>#}
    {#                </div> <!-- end card-body -->#}
    {#            </a>#}
    {#        </div>#}
    {#    </div>#}
    {#    <div class="col-md-3">#}
    {#        <div class="card mx-md-4">#}
    {#            <a href="{% url 'rrhh:vacaciones' %}">#}
    {#                <div class="card-body">#}
    {#                    <i class="dripicons-photo-group" style="font-size: 80px"></i>#}
    {#                    <h5 class="text-muted font-weight-normal mt-0" title="New Leads">Vacaciones</h5>#}
    {#                </div> <!-- end card-body -->#}
    {#            </a>#}
    {#        </div>#}
    {#    </div>#}
    {#    <div class="col-md-3">#}
    {#        <div class="card mx-md-4">#}
    {#            <a href="{% url 'rrhh:documentos' %}">#}
    {#                <div class="card-body">#}
    {#                    <i class="mdi mdi-asterisk" style="font-size: 80px"></i>#}
    {#                    <h5 class="text-muted font-weight-normal mt-0" title="New Leads">Licencias</h5>#}
    {#                </div> <!-- end card-body -->#}
    {#            </a>#}
    {#        </div>#}
    {#    </div>#}
    {#    <div class="col-md-3">#}
    {#        <div class="card mx-md-4">#}
    {#            <a href="{% url 'rrhh:documentos' %}">#}
    {#                <div class="card-body">#}
    {#                    <i class="mdi mdi-file-document" style="font-size: 80px"></i>#}
    {#                    <h6 class="text-muted font-weight-normal mt-0" title="New Leads">Documentos de Colaboradores</h6>#}
    {#                </div> <!-- end card-body -->#}
    {#            </a>#}
    {#        </div>#}
    {#    </div>#}
    {#    <div class="col-md-3">#}
    {#        <div class="card mx-md-4">#}
    {#            <a href="{% url 'rrhh:documentos' %}">#}
    {#                <div class="card-body">#}
    {#                    <i class="mdi mdi-pencil" style="font-size: 80px"></i>#}
    {#                    <h5 class="text-muted font-weight-normal mt-0" title="New Leads">Solicitudes</h5>#}
    {#                </div> <!-- end card-body -->#}
    {#            </a>#}
    {#        </div>#}
    {#    </div>#}
    {#    <div class="col-md-3">#}
    {#        <div class="card mx-md-4">#}
    {#            <a href="{% url 'rrhh:entrevistas' %}">#}
    {#                <div class="card-body">#}
    {#                    <i class="mdi mdi-clipboard-account-outline" style="font-size: 80px"></i>#}
    {#                    <h5 class="text-muted font-weight-normal mt-0" title="New Leads">Entrevistas</h5>#}
    {#                </div> <!-- end card-body -->#}
    {#            </a>#}
    {#        </div>#}
    {#    </div>#}
    {% if contratos_contratar or contratos_expirar or solicitudes_pendientes or contrataos_finiquitar %}
        </div>
        </div>
    {% endif %}
{% if contratos_contratar or contratos_expirar or solicitudes_pendientes or contrataos_finiquitar %}
    <div class="col-md-4">
        <div class="list-group" style="cursor: pointer">
            {% if contratos_contratar %}
                <a class="list-group-item list-group-item-action list-group-item-primary" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    En proceso de contratación
                    <span class="badge badge-warning float-right">{{ contratos_contratar|length }}</span>
                </a>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne">
                    <ul class="list-group list-group-flush">
                        {% for c in contratos_contratar %}
                            <a href="{% url 'rrhh:contrato' c.pk %}" class="list-group-item list-group-item-action">
                                {{ c }} <span class="badge badge-danger badge-sm float-right"> {{ c.estado }}</span>
                            </a>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% if contratos_expirar %}
                <a class="list-group-item list-group-item-action list-group-item-warning" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Contratos apunto de expirar
                    <span class="badge badge-warning float-right">{{ contratos_expirar|length }}</span>
                </a>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne">
                    <ul class="list-group list-group-flush">
                        {% for c in contratos_expirar|dictsort:'dias_termino_contrato' %}
                            <a href="{% url 'rrhh:contrato' c.pk %}" class="list-group-item list-group-item-action">
                                {{ c }} <span class="badge badge-danger badge-sm float-right"> {{ c.dias_termino_contrato }} dias</span>
                            </a>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% if contratos_finiquitar %}
                <a class="list-group-item list-group-item-action list-group-item-danger" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Contratos que se deben finiquitar
                    <span class="badge badge-warning float-right">{{ contratos_finiquitar|length }}</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo">
                    <ul class="list-group list-group-flush">
                        {% for c in contratos_finiquitar|dictsort:'dias_termino_contrato' %}
                            <a href="{% url 'rrhh:contrato' c.pk %}" class="list-group-item list-group-item-action">
                                {{ c }} <span class="badge badge-danger badge-sm float-right"> {{ c.solicitud_set.all.0.get_tipo_display }} en {{ c.dias_termino_contrato }} dias</span>
                            </a>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% if solicitudes_pendientes %}
                <a class="list-group-item list-group-item-action list-group-item-warning" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Solicitudes que requieren atención
                    <span class="badge badge-warning float-right">{{ solicitudes_pendientes|length }}</span>
                </a>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree">
                    <ul class="list-group list-group-flush">
                        {% for s in solicitudes_pendientes %}
                            <a href="{% url 'rrhh:solicitud' s.pk %}" class="list-group-item list-group-item-action">
                                {{ s }} <span class="badge badge-danger badge-sm float-right"> {{ s.estado }}</span>
                            </a>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}
</div>

{% endblock content %}
