{% extends 'base/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block extra_js %}
<script>

    
    focusMethod = function getFocus() {
        document.getElementById("id_total_dias").focus();
        document.getElementById("id_fecha_inicio").focus();
    }

    sumaFecha = function(dias, fecha)
        {
            var fecha = new Date($('#id_fecha_inicio').val());
            var dias = $('#id_total_dias').val();
            var sum = fecha.setDate(fecha.getDate() + dias);
            $('#id_tipo_licencia_descripcion').val(sum);
            //id_fecha_termino
        }

</script>
{% endblock %}
{% block content %}
<div class="card" style="margin-top: 80px;">
    <div class="card-header">
        <h4 class="card-title page-title">Crear Licencia
        </h4>
        <h6 class="card-subtitle mb-2 text-muted">Datos de licencia</h6>
    </div>
    <div class="card-body">

        <form class="form-horizontal" method="post">
            {% csrf_token %}
            {% crispy form %}
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <button type="submit" class="btn btn-outline-success">Guardar</button>
                    <a href="{{ request.META.HTTP_REFERER }}"
                    role="button" class="btn btn-outline-info">
                        Volver
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
