{% extends 'base/base.html' %}
{% load staticfiles crispy_forms_tags %}

{% block title_page %}
    Licencia - {% if object %}Editar{% else %}Crear{% endif %}
{% endblock %}

{% block title %}
    {% if object %}Editar{% else %}Crear{% endif %} Licencia
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Suite AAGE</a></li>
    <li class="breadcrumb-item"><a href="{% url 'rrhh:licencias' %}">Licencias</a></li>
    <li class="breadcrumb-item active">{% if object %}Editar{% else %}Crear{% endif %} Licencia</li>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h5>Datos de licencia</h5>
        </div>
        <div class="card-body">
            <form class="form-horizontal" method="post">
                {% csrf_token %}
                {% crispy form %}
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                        <button type="submit" class="btn btn-outline-success">Guardar</button>
                        <a href="{{ request.META.HTTP_REFERER }}"
                           role="button" class="btn btn-outline-info">
                            Volver
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">

        $(function(){
            document.getElementById("id_total_dias").addEventListener("keyup", sumaDiasFecha);
            document.getElementById("id_fecha_inicio").addEventListener("change", sumaDiasFecha);
            document.getElementById("id_dias_habiles").addEventListener("change", diasHabiles);

            var fechaTerminoHabil = "";
            var fechaRetornoHabil = "";
            var fechaTerminoNoHabil = "";
            var fechaRetornoNoHabil = "";
        });

        diasHabiles = function()
        {
            var isChecked = document.getElementById('id_dias_habiles').checked;
            if(isChecked){
                $('#id_fecha_termino').val(fechaTerminoHabil);
                $('#id_fecha_retorno').val(fechaRetornoHabil);
            }
            if(!isChecked){
                $('#id_fecha_termino').val(fechaTerminoNoHabil);
                $('#id_fecha_retorno').val(fechaRetornoNoHabil);
            }
        }

        sumaDiasFecha = function()
        {
            if($('#id_fecha_inicio').val() != null && $('#id_fecha_inicio').val() != ''
                && $('#id_total_dias').val() != null && $('#id_total_dias').val() != '') {
                //alert($('#id_fecha_inicio').val());
                var noOfDaysToAdd = parseInt($('#id_total_dias').val());
                var dia = $('#id_fecha_inicio').val().substring(8, 10);
                var mes = $('#id_fecha_inicio').val().substring(5, 7);
                var anno = $('#id_fecha_inicio').val().substring(0, 4);

                //suma habiles
                var startDate = new Date(anno+"/"+mes+"/"+dia);
                var endDate = "", count = 0;
                while(count < noOfDaysToAdd){
                    endDate = new Date(startDate.setDate(startDate.getDate() + 1));
                    if(endDate.getDay() != 0 && endDate.getDay() != 6){
                        count++;
                    }
                }

                var ftermino = new Date(endDate);
                let year = ftermino.getFullYear();
                let month = (1 + ftermino.getMonth()).toString().padStart(2, '0');
                let day = ftermino.getDate().toString().padStart(2, '0');

                $('#id_fecha_termino').val(year+"-"+month+"-"+day);
                fechaTerminoHabil=year+"-"+month+"-"+day;

                //fecha de retorno
                startDate = new Date(anno+"/"+mes+"/"+dia);
                endDate = "", count = 0;
                while(count < (noOfDaysToAdd+1)){
                    endDate = new Date(startDate.setDate(startDate.getDate() + 1));
                    if(endDate.getDay() != 0 && endDate.getDay() != 6){
                        count++;
                    }
                }

                ftermino = new Date(endDate);
                year = ftermino.getFullYear();
                month = (1 + ftermino.getMonth()).toString().padStart(2, '0');
                day = ftermino.getDate().toString().padStart(2, '0');

                $('#id_fecha_retorno').val(year+"-"+month+"-"+day);
                fechaRetornoHabil=year+"-"+month+"-"+day;

                //sumano no habiles
                startDate = new Date(anno+"/"+mes+"/"+dia);
                endDate = new Date(startDate.setDate(startDate.getDate() + noOfDaysToAdd));
                ftermino = new Date(endDate);
                year = ftermino.getFullYear();
                month = (1 + ftermino.getMonth()).toString().padStart(2, '0');
                day = ftermino.getDate().toString().padStart(2, '0');
                fechaTerminoNoHabil=year+"-"+month+"-"+day;

                //fecha de retorno
                startDate = new Date(anno+"/"+mes+"/"+dia);
                endDate = new Date(startDate.setDate(startDate.getDate() + noOfDaysToAdd+1));
                ftermino = new Date(endDate);
                year = ftermino.getFullYear();
                month = (1 + ftermino.getMonth()).toString().padStart(2, '0');
                day = ftermino.getDate().toString().padStart(2, '0');
                fechaRetornoNoHabil=year+"-"+month+"-"+day;
            }
        }

    </script>
{% endblock %}