{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'base/img/logo-icon.png' %}">

    <title>
        {% block title_page %}{% endblock %}
    </title>

    {% include 'base/partials/css_imports.html' %}
    {% block extra_css %}{% endblock %}

</head>

<body background="{% static 'base/img/fondo_aventista.png' %}" style="background-repeat: no-repeat; background-position: right" class="loading" data-layout="topnav">

<div id="preloader">
    <div id="status">
        <div class="bouncing-loader"><div ></div><div ></div><div ></div></div>
    </div>
</div>

<!-- Begin page -->
<div class="wrapper">
    <div class="content-page">
        <div class="content">
            {% include 'base/partials/navbar2.html' %}

            {% block suma_presupuesto %}{% endblock %}

            <div class="container-fluid" id="contenidoApp">

                {% block breadcrumb %}
                {% endblock %}

                {% block content %}
                {% endblock %}

            </div> <!-- /container -->
        </div>
    </div>
</div>

<br><br><br>

<!-- Footer Start -->
<footer class="footer bg-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <script>document.write(new Date().getFullYear())</script> © Universidad Adventista de Chile
            </div>
            <div class="col-md-6">
                <div class="text-md-right footer-links d-none d-md-block">
                    <a href="https://aage.cl">Acerca de Nosotros</a>
                    <a href="">Soporte</a>
                    <a href="">Contáctenos</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end Footer -->

<a href="javascript:void(0);" id="scroll" title="Scroll Arriba" style="display: none;">Top<span></span></a>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

{% include 'base/partials/js_imports.html' %}

{% block extra_js %}
{% endblock %}
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
{% comment %}
    <script src="../../../../assets/js/ie10-viewport-bug-workaround.js"></script>
    {% endcomment %}

<script>
    $(function() {
        $('.chosen').chosen(
            {width: '100%'});

        $('[data-toggle="tooltip"]').tooltip();

        $.each($('.autonumeric'), function () {
            new AutoNumeric($(this)[0],
                { currencySymbol : '$' });
        });

        {% block datepicker %}
            $('.datepicker').pickadate({
                formatSubmit: 'dd/mm/yyyy',
                format: 'dd/mm/yyyy',
                selectMonths: true,
                hiddenName: true,
                selectYears: true
            });
        {% endblock %}
        alertify.set('notifier','position', 'top-right');

        {% if messages %}
            {% for message in messages %}
                mostrarNotificacionGrowl('{{ message|safe }}', '{{ message.tags }}');
            {% endfor %}
        {% endif %}
    });
</script>

</body>
</html>
