{% load staticfiles rrhh_utils %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'base/img/logo-icon.png' %}">

    <title>
        {% block title_page %}
            {% if request.path|start_with:"/carga/" %}
                Carga Horaria
            {% elif request.path|start_with:"/rrhh/" %}
                Recursos Humanos
            {% else %}
                Suite AAGE
            {% endif %}
        {% endblock %}
    </title>

    {% include 'base/partials/css_imports.html' %}
    {% block extra_css %}{% endblock %}

    <style>
        body {
            background: url("{% static 'base/img/fondo_aventista.png' %}") no-repeat;
            background-position-x: 130%;
            background-position-y: 110px;
        }
    </style>

</head>

<body class="loading" data-layout="topnav">

<div id="preloader">
    <div id="status">
        <div class="bouncing-loader"><div ></div><div ></div><div ></div></div>
    </div>
</div>

<!-- Begin page -->
<div class="wrapper">
    <div class="content-page pb-2">
        <div class="content">
            {% include 'base/partials/navbar2.html' %}

            <div class="container-fluid" id="contenidoApp">

                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    {% block breadcrumb %}
                                    {% endblock %}
                                </ol>
                            </div>

                            <h3 class="page-title">{% block title %}{% endblock %}</h3>

{#                            {% if messages %}#}
{#                                {% for message in messages %}#}
{#                                    <div class="alert alert-danger alert-dismissible" role="alert">#}
{#                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">#}
{#                                            <span aria-hidden="true">&times;</span>#}
{#                                        </button>#}
{#                                        <strong>{{ message.extra_tags|title }} - </strong> {{ message.message }}#}
{#                                    </div>#}
{#                                {% endfor %}#}
{#                            {% endif %}#}

                            {% block content %}
                            {% endblock %}

                        </div>
                    </div>
                </div>

            </div> <!-- /container -->
        </div>
    </div>
</div>

<br><br><br>

<!-- Footer Start -->
<footer class="footer bg-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <script>document.write(new Date().getFullYear())</script> © Universidad Adventista de Chile
            </div>
            <div class="col-md-6">
                <div class="text-md-right footer-links d-none d-md-block">
                    <a href="http://aage.cl/#conocenos" target="blanck">Acerca de Nosotros</a>
                    <a href="http://aage.cl/#contacto" target="blanck">Soporte</a>
                    <a href="http://aage.cl/#contacto" target="blanck">Contáctenos</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end Footer -->

<a href="javascript:void(0);" id="scroll" title="Scroll Arriba" style="display: none;">Top<span></span></a>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

{% include 'base/partials/js_imports.html' %}

{% block extra_js %}
{% endblock %}
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
{% comment %}
    <script src="../../../../assets/js/ie10-viewport-bug-workaround.js"></script>
    {% endcomment %}

<script>
    $(function() {
        $('.chosen').chosen(
            {width: '100%'});

        $('[data-toggle="tooltip"]').tooltip();

        $.each($('.autonumeric'), function () {
            new AutoNumeric($(this)[0],
                { currencySymbol : '$' });
        });

        {% block datepicker %}
            $('.datepicker').pickadate({
                formatSubmit: 'dd/mm/yyyy',
                format: 'dd/mm/yyyy',
                selectMonths: true,
                hiddenName: true,
                selectYears: true
            });
        {% endblock %}
        alertify.set('notifier','position', 'top-right');

        {% if messages %}
            {% for message in messages %}
                // todo Intentar update de toastr para la muestra de las notificaciones
                mostrarNotificacionGrowl('{{ message|safe }}', '{{ message.tags }}');
            {% endfor %}
        {% endif %}
    });
</script>

</body>
</html>
