{% extends 'base/base.html' %}
{% load staticfiles humanize %}

{% block title_page %}
    Postulantes
{% endblock %}

{% block title %}
    Postulantes
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Suite AAGE</a></li>
    <li class="breadcrumb-item"><a href="{% url 'rrhh:home_rrhh' %}">Recursos Humanos</a></li>
    <li class="breadcrumb-item active">Postulantes</li>
{% endblock %}

{% block content %}

<div class="card">
    <div class="card-header page-title">
        <h5>Detalle de los Postulantes</h5>
    </div>
    <div class="card-body">
        {% for p in postulantes %}
            <a href="{% url 'rrhh:persona' p.pk %}" style="color: black;">
                <div class="row">
                    <div class="col-md-2 text-center">
                        {% if p.foto %}
                            <img class="img-responsive" src="{{ p.foto.url }}" alt="{{ p.username }}" width="100%">
                        {% else %}
                            <img class="img-responsive" src="{% static "base/img/user.png" %}" alt="{{ p.username }}" width="100%">
                        {% endif %}
                    </div>
                    <div class="col-md-10">
                        <h4>{{ p.get_full_name }}</h4>
                        <em>
                            {{ p.profesion }}<br>
                            emil: {{ p.email }}<br>
                            tel: {{ p.telefono }}
                        </em>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
 </div>

{% endblock content %}
