{% extends 'base/base.html' %}
{% load staticfiles bootstrap_pagination %}

{% block title_page %}
    Tipos de Universos de Encuestas
{% endblock %}

{% block title %}
    Tipos de Universos de Encuestas
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Suite AAGE</a></li>
    <li class="breadcrumb-item"><a href="{% url 'evado:home_evado' %}">Evaluación Docente</a></li>
    <li class="breadcrumb-item active">Administración de Tipos de Universos de Encuestas</li>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h5>Tabla para configuración de Tipos de universos de Encuestas
                <a class="btn btn-sm btn-outline-primary float-right" href="{% url 'evado:tipo_universo_encuesta_create'%}" role="button">
                    <span><i class="uil-plus"></i> Crear Tipo de Uinverso de Encuesta</span>
                </a>
            </h5>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th><i class="uil uil-user-exclamation"></i> Nombre </th>
                        <th><i class="uil uil-document-layout-left"></i> Tipo de configuración </th>
                        <th><i class="mdi mdi-cogs"></i> Opciones </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for f in object_list %}
                        <tr>
                            <td> {{ f.nombre }} </td>
                            <td> {{ f.get_codigo_display }} </td>
                            <td>
                                <a class="btn btn-outline-primary" href="{% url 'evado:tipo_universo_encuesta_edit' f.pk %}" data-toggle="tooltip" data-placement="top" title="Editar"><i class="uil-edit"></i></a>
                                <a class="btn btn-outline-danger" href="#" data-toggle="modal" data-target="#eliminar_tipo_universo_encuesta_{{f.pk}}"><i class="uil-trash-alt"></i></a>
                            </td>
                        </tr>
                        <div class="modal" tabindex="-1" role="dialog" id="eliminar_tipo_universo_encuesta_{{f.pk}}">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title alert alert-danger bg-white text-danger"><strong>¡Alerta!</strong> Está a punto de eliminar un Tipo de Universo de Encuesta</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Está seguro que desea eliminar el Tipo de Universo de Encuesta "{{ f }}"?.</p>
                                        <p class="text-muted">Recuerde que eliminará todos los registros asociados a este Tipo de Universo de Encuesta.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a role="button" class="btn btn-outline-danger" href="{% url 'evado:tipo_universo_encuesta_delete' f.pk %}">Eliminar</a>
                                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card-footer">
            <div>
                {% bootstrap_paginate page_obj range=5 %}
            </div>
        </div>

    </div>

{% endblock content  %}
