{% extends 'base/base.html' %}
{% load staticfiles bootstrap_pagination %}

{% block title_page %}
    Isapres
{% endblock %}

{% block title %}
    Isapres
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Suite AAGE</a></li>
    <li class="breadcrumb-item active">Administración de Isapres</li>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h5>Tabla para configuración de Isapre
                <a class="btn btn-sm btn-outline-primary float-right" href="{% url 'gestion:isapre__nuevo'%}" role="button">
                    <span><i class="uil-plus"></i> Crear Isapre</span>
                </a>
            </h5>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th><i class="uil-user-exclamation"></i> Nombre </th>
                        <th><i class="uil-document-layout-left"></i> Descripción </th>
                        <th><i class="mdi mdi-cogs"></i> Opciones </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in object_list %}
                        <tr>
                            <td><a href="{% url 'gestion:isapre' i.pk %}"> {{ i.nombre }} </a></td>
                            <td> {% if i.descripcion %}{{ i.descripcion|truncatewords:"7" }}{% else %}No específicado{% endif %} </td>
                            <td>
                                <a class="btn btn-outline-primary" href="{% url 'gestion:isapre__editar' i.pk %}" data-toggle="tooltip" data-placement="top" title="Editar"><i class="uil-edit"></i></a>
                                <a class="btn btn-outline-danger" href="#" data-toggle="modal" data-target="#eliminar_isapre_{{i.pk}}"><i class="uil-trash-alt" data-toggle="tooltip" data-placement="top" title="Eliminar"></i></a>
                            </td>
                        </tr>
                        <div class="modal" tabindex="-1" role="dialog" id="eliminar_isapre_{{i.pk}}">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title alert alert-warning bg-white text-warning"><strong>¡Alerta!</strong> Está a punto de eliminar una Isapre</h5>
                                        <button type="button" class="close btn btn-outline-info" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Está seguro que desea eliminar la Isapre "{{ i }}"?.</p>
                                        <p class="text-muted">Recuerde que eliminará todos los registros asociados a esta Isapre.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a role="button" class="btn btn-outline-danger" href="{% url 'gestion:isapre__eliminar' i.pk %}">Eliminar</a>
                                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card-footer">
            <div>
                {% bootstrap_paginate page_obj range=5 %}
            </div>
        </div>

    </div>

{% endblock content  %}
