{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title_page %}
    Tipo de Título - Detalle
{% endblock %}

{% block title %}
    Detalle Tipo de Título
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Suite AAGE</a></li>
    <li class="breadcrumb-item"><a href="{% url 'gestion:tipostitulo' %}">Tipos de Título</a></li>
    <li class="breadcrumb-item active">{% if object %}Editar{% else %}Crear{% endif %} Tipo de Título</li>
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
      <h5>{{ object}}
          {% block buttons %}
              <div class="btn-group btn-group-sm float-right">
                  <a href="{% url 'gestion:tipotitulo__editar' object.pk %}" type="button" class="btn btn-outline-primary">
                      <i class="uil-edit"></i>
                  </a>
                  <a class="btn btn-outline-danger" href="#" data-toggle="modal" data-target="#eliminar_tipotitulo_{{object.pk}}">
                      <i class="uil-trash"></i>
                  </a>
              </div>
          {% endblock %}
        </h5>
    </div>
    <div class="card-body">
        <table class="table table-hover table-sm">
            <tbody>
                <tr>
                    <th> Nombre </th>
                    <td>  {{ object.nombre }}  </td>
                </tr>
                <tr>
                    <th> Descripción </th>
                    <td> {{ object.descripcion }} </td>
                </tr>
            </tbody>
        </table>
     </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="eliminar_tipotitulo_{{object.pk}}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title alert alert-warning bg-white text-warning"><strong>¡Alerta!</strong> Está a punto de eliminar el Tipo de Título</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Está seguro que desea eliminar el Tipo de Título "{{ object }}"?.</p>
                <p class="text-muted">Recuerde que eliminará todos los registros asociados al Tipo de Título.</p>
            </div>
            <div class="modal-footer">
                <a role="button" class="btn btn-outline-danger" href="{% url 'gestion:tipotitulo__eliminar' object.pk %}">Eliminar</a>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
